.bestitle {
    height: 2.5rem;
    line-height: 3rem;
    border-bottom: 1px solid #ededed;
    font-size: 1rem;
    padding-left: 1rem;
    color: #bbbbbb;
}

.besimg {
    width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-top: 1.25rem;
}

.cell-right {
    float: right;
    margin-right: 1rem;
    margin-top: 0.6rem;
}

.Slider {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: -2rem;
}

.Slider1 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    float: left;
    display: inline-block;
    margin-top: 0.9rem;
    margin-left: -0.75rem;
}

.SliderInner {
    width: 21rem;
    height: 0.5rem;
    float: left;
    background-color: #d9d9d9;
    margin-left: 1rem;
    margin-top: 1.25rem;
    border-radius: 0.25rem;
}

.SliderTrack {
    height: 100%;
    width: 0%;
    border-radius: 0.25rem;
    background-color: #ffa60a;
}

.cht-detail {
    display: none;
}

.F1-detail {
    display: none;
}
.list-table-view {
list-style: none;
padding: 0 5px;
background: #fff;
}

.list-table-view-cell {
height: 3.5rem;
line-height: 3.5rem;
border-bottom: 1px solid #ddd;
}

/* .list-navigate-right {
display: inline-block;
width: 70%;
} */

.list-navigate-icon {
display: inline-block;
height: 40px;
padding-right: 5px;
line-height: 40px;
text-align: center;
width: 4%;
}

.list-table-title {
display: inline-block;
width: 50%;
font-size: 1.2rem;
}

.list-table-item {
display: inline-block;
text-align: right;
width: 40%;
font-size: 1.2rem;
}

.icon {
width: 20px;
height: 20px;
position: relative;
top: 5px;
left: 5px;
}