body{
	background-color: #f2f2f2;
	color: #515151;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}
.weui-tabbar__label{
}
.weui-tabbar__icon{
	width: 20px;
	height: 20px;
}
.weui-bar__item--on .weui-tabbar__label{
	color: #ffa60a!important;
}
.weui-tabbar{
	position: fixed;
	width: 100%;
}
.bestitle{
	height: 3rem;
	line-height: 4rem;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	font-size: 1.2rem;
	padding-left: 15px;
	color: #bbbbbb;
}
.besimg{
	width: 1.5rem;
	height: 1.5rem;
	float: right;
	margin-top: 1.5rem;
}
.stateSpan{
	padding: 1px 5px;
	color: #ffffff;
	border-radius: 5px;
	margin-left: 1rem;
	font-size: 1rem;
	position: relative;
	top: -1px;
}
