body{margin: 0px;padding: 0px;font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
.main{width: 750px;margin: 0 auto;}
p{padding: 0px;margin: 0px;}
.row{padding: 0px;margin: 0px;}
.menu_child>div{display: inline-block;float: left;height: 80px;padding-left:25px;padding-right: 25px; }
.menu_child>div>p{font-size: 16px;color: #ffffff;line-height: 80px;cursor: pointer;}
.program_div>div{display: inline-block;float: left;width: 390px;}
.program_title{font-size:20px;line-height: 40px;color:#626262;}
.program_detial{font-size:16px;line-height: 30px;color:#a5a5a5;}
.index_footer{width: 100%;height: 124px;background-color:rgba(0,0,0,0.4);margin-top: 20px;}



#demo {
    margin: auto;
    position: relative;
}

.box {
    float: left;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    /*background: #f7f7f7;
    box-shadow: 0 0 8px #ccc;*/

    margin-top: 30px;
}

.box:hover { /*box-shadow: 0 0 10px #999;*/ }

.box img { width: 550px; }


#waterfall_container {
    -webkit-column-count: 2;
    /*-webkit-column-gap: 10px；
    -webkit-column-rule: 5px solid #333；
    -webkit-column-width: 210px；*/

-moz-column-count: 2;
    /*-moz-column-gap: 20px；
    -moz-column-rule: 5px solid #333；
    -moz-column-width: 210px；*/

column-count: 2;
    /*column-gap: 10px；
    column-rule: 5px solid #333；
    column-width: 210px；*/
}
      /* jssor slider bullet navigator skin 05 css */
      /*
      .jssorb05 div           (normal)
      .jssorb05 div:hover     (normal mouseover)
      .jssorb05 .av           (active)
      .jssorb05 .av:hover     (active mouseover)
      .jssorb05 .dn           (mousedown)
      */
  .jssorb05 {
      position: absolute;
  }
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
.jssora22l.jssora22lds      (disabled)
.jssora22r.jssora22rds      (disabled)
*/
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
