<!DOCTYPE html>
<html lang="en" id="html"style="height: 100%;background-color: #eee;">
<head>
    <meta charset="UTF-8">
    <!--   width                      - viewport的宽度

       height                     – viewport的高度
       initial-scale          - 初始的缩放比例
       minimum-scale  - 允许用户缩放到的最小比例
       maximum-scale – 允许用户缩放到的最大比例
       user-scalable       – 用户是否可以手动缩放-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--IOS中Safari允许全屏浏览-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--IOS中Safari顶端状态条样式：-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--忽略将数字变为电话号码：-->
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <script src="../public/js/ssl.js"></script>
    <link href="../public/css/bootstrap.css" rel="stylesheet"/>
    <link href="../public/css/bootstrap-select.css" rel="stylesheet">
    <!--<link href="public/css/bootstrap-theme.css" rel="stylesheet">-->
    <script src="../public/js/jquery-1.11.3.min.js"></script>
    <script src="../public/js/bootstrap.js"></script>
    <!--选择框-->
    <script src="../public/js/bootstrap-select.js"></script>
    <!--图片-->
    <script src="../public/js/exif.js"></script>


    <!--时间插件-->
    <link href="../public/css/bootstrap-datetimepicker.min.css" rel="stylesheet" >
    <script type="text/javascript" src="../public/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../public/js/locales/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>
    <!--提示-->
    <link href="../public/css/toastr.css" rel="stylesheet" />
    <script src="../public/js/toastr.min.js"></script>
    <!--加载-->
    <script src="../public/js/PerfectLoad.js"></script>
    <!--按钮-->
    <link href="../public/css/button.css" rel="stylesheet" />

    <script src="../public/js/jquery.fn.js"></script>
    <link href="../public/css/index.css" rel="stylesheet" />

    <script src="../public/js/layer/layer.js"></script>


    <!--angular-->
    <!--<script src="public/js/angular.min.js"></script>
    <script src="public/js/angular-route.js"></script>-->

    <!--ionic-->
    <link href="../public/js/ionic/css/ionic.css" rel="stylesheet">

    <script src="../public/js/ionic/js/ionic.bundle.js"></script>

    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>

    　　<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

    <style>

    </style>
    <script>
        var bool=false;
        //参数设置，若用默认值可以省略以下面代
        toastr.options = {

            "closeButton": false, //是否显示关闭按钮

            "debug": false, //是否使用debug模式

            "positionClass": "toast-top-center",//弹出窗的位置

            "showDuration": "300",//显示的动画时间

            "hideDuration": "1000",//消失的动画时间

            "timeOut": "2000", //展现时间

            "extendedTimeOut": "1000",//加长展示时间

            "showEasing": "swing",//显示时的动画缓冲方式

            "hideEasing": "linear",//消失时的动画缓冲方式

            "showMethod": "fadeIn",//显示时的动画方式

            "hideMethod": "fadeOut" //消失时的动画方式

        };

        //rem
        (function (doc, win) {

            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=640){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="filter.js"></script>
<body style="margin: 0px;padding: 0px;height: 100%;background-color: #eee;overflow-y: auto;">
<ion-pane>

    <ion-content style="background-color: #eee;top: 0px;bottom: 0px;"  class="contentH">
        <div ng-app="dzyx_app">
        <div ng-controller="detailCrl">
            <div class="card list" style="padding: 0.2rem;margin-bottom: 5px!important;" >
                <p style="line-height: 30px;">
                    <span style="float: left;">收货人：{{detailInfo.reciever}}</span>
                    <span style="float: right;">{{detailInfo.phone}}</span>
                    <div style="clear: both;"></div>
                </p>
                <div>
                    <div style="width: 5.5rem;float: left;">
                        <p style="line-height: 20px;"><i class="icon ion-location" style="font-size: 20px;position: relative;top: 2px;"></i>&nbsp;&nbsp;&nbsp;收货地址：{{detailInfo.address}}</p>
                    </div>
                </div>
            </div>

            <div class="card list" style="padding: 0.2rem;margin-bottom: 5px!important;" >
                <p style="line-height: 20px;">
                    发票信息
                </p>
                <p style="line-height: 20px;" ng-if="invoiceName!=null">
                    开户名称：{{invoiceName}}
                </p>
            </div>

            <div class="card list" style="padding:0.2rem;margin-bottom: 10px!important;">
                <p style="line-height: 30px;">订单号：{{detailInfo.orderNum}}<span style="float: right;color: #ff9800;">{{detailInfo.state|orderState}}</span><p>
                <div style="width:100%;height: 2rem;margin-bottom: 10px!important;" ng-repeat="item in choseCartP">
                    <div style="width: 2rem;height: 2rem;float: left;margin-left: 0.2rem;background-color: #eee;">
                        <img src="{{item.img}}" style="width: 100%;height: 100%;">
                    </div>
                    <div style="float: left;width: 2.5rem;height: 2rem;">
                        <p style="padding: 5px;">{{item.pname}}&nbsp;&nbsp;&nbsp;<span style="text-decoration: line-through;color: #c9c9c9" ng-if="item.aprice!=item.price">￥{{item.aprice}}</span></p>
                        <p style="padding: 5px;">颜色分类：{{item.color}}</p>
                        <p style="padding: 5px;">定制费：{{item.modeldzf}}</p>
                    </div>
                    <div style="float: left;width: 1.5rem;height: 2rem;">
                        <p style="text-align: right;padding: 5px;">￥{{item.price}}</p>
                        <p style="text-align: right;padding: 5px;">x{{item.count}}</p>
                    </div>
                </div>
                <div style="line-height: 30px;" ng-if="deviceInfo.allsn!=null&&deviceInfo.allsn!=''">
                    <p style="float: left;">设备SN</p><p style="float: right;">{{deviceInfo.allsn}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;" ng-if="deviceInfo.content!=null&&deviceInfo.content!=''">
                    <p style="float: left;">IC卡号</p><p style="float: right;">{{deviceInfo.content}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;">
                    <p style="float: left;">商品总价</p><p style="float: right;">{{allprice|number:2}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;">
                    <p style="float: left;">快递公司</p><p style="float: right;">{{detailInfo.ename|zt}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;">
                    <p style="float: left;">运费</p><p style="float: right;">￥{{detailInfo.ecost}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;">
                    <p style="float: left;">开票信息</p><p style="float: right;">{{detailInfo.invoice|pinfo}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 40px;border-top: 1px solid #eee;border-bottom: 1px solid #eee;">
                    <p style="font-weight: 600;float: left;">实付款</p><p style="float: right;color: #ff9800;">￥{{detailInfo.totalCost|number:2}}</p>
                    <p style="clear: both;"></p>
                </div>
                <div style="line-height: 30px;">
                    <p style="float: left;">发货人员：</p><p style="float: left;">{{detailInfo.sender}}</p><br />
                    <p style="float: left;">联系电话：</p><p style="float: left;">{{detailInfo.sphone}}</p><br />
                    <p style="float: left;">创建时间：</p><p style="float: left;">{{detailInfo.showDate.substring(0,detailInfo.showDate.length-2)}}</p><br />
                    <p style="float: left;">付款时间：</p><p style="float: left;">{{detailInfo.payTime}}</p><br />
                </div>
                <div style="text-align: left;" ng-if="detailInfo.state==0">
                    <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;" ng-click="uploadImgs(detailInfo.orderNum)">上传凭证</button>
                    <button class="button button-assertive" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;margin-right: 10px;" ng-click="delOrder(detailInfo.orderNum)">取消订单</button>
                </div>
                <div style="text-align: left;" ng-if="detailInfo.state==1||detailInfo.state==2">
                    <p style="width: 3rem;float: left;line-height: 30px;position: relative;top:5px;height: 30px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;" ng-if="item.note!=null">原因：{{detailInfo.note}}</p>
                    <button class="button button-assertive" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;" ng-click="uploadImgs(detailInfo.orderNum)">重新上传</button>
                    <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;margin-right: 10px;" ng-click="seeImgs(detailInfo.orderNum)">查看凭证</button>
                </div>
                <div style="text-align: left;" ng-if="detailInfo.state==3">
                    <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;"  ng-click="seeImgs(detailInfo.orderNum)">查看凭证</button>
                </div>
                <div style="text-align: left;" ng-if="detailInfo.state==4">
                    <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;" ng-click="sure(detailInfo.orderNum)">确认收货</button>
                    <button class="button button-assertive" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;margin-right: 10px;" ng-click="seewl(detailInfo.orderNum,detailInfo.seid)">查看物流</button>
                    <button class="button button-assertive" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;margin-right: 10px;" ng-click="seeImgs(detailInfo.orderNum)">查看凭证</button>
                </div>
            </div>

        </div>
    </div>
    </ion-content>
</ion-pane>
</body>

</html>