<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>设备</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.fn.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/url.js?version=1.4.0" type="text/javascript" charset="utf-8"></script>
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
</head>
<style scoped>
    .input-border {
        border-bottom: 1px solid #ddd;
        margin: 0 10px;
    }

    .dia-body {
        margin-left: 30px;
    }

    .right-button-position {
        float: right;
    }

    .button-margin {
        padding: 10px;
    }

    .font-red {
        color: red;
    }

    .dia-body1 {
        padding: 0 20px;
    }

    .setting-fontsize {
        font-size: 16px;
        white-space: pre-wrap;
        /* css3.0 */
        white-space: -moz-pre-wrap;
        /* Firefox */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
    }
</style>

<body>
    <div id="app">
        <van-cell-group title="门禁信息">
            <van-cell title="名称" id="0" is-link :value="deviceName" @click="handleClick"></van-cell>
            <van-cell title="SN码">{{sn}}</van-cell>
            <van-cell title="状态">
                <span v-if="online">在线</span>
                <span v-if="!online">断网</span>
            </van-cell>
            <van-cell title="断网次数" is-link :value="offlineTimes" id="1" @click="handleClick"></van-cell>
            <van-cell title="上次联网时间" :value="lastOnlineTime"></van-cell>
            <van-cell title="绑定学校" :value="schoolName"></van-cell>
        </van-cell-group>

        <van-cell-group title="门禁设置">
            <van-cell title="打卡播放开关" is-link id="2" @click="handleClick">
                <span v-if="voiceBroadcast==1">开启</span>
                <span v-if="voiceBroadcast!=1">关闭</span>
            </van-cell>
            <van-cell title="播放音量模式" is-link id="3" @click="handleClick">
                <span v-if="volumeType==1">响亮模式</span>
                <span v-if="volumeType==2">标准模式</span>
                <span v-if="volumeType==3">安静模式</span>
                <span v-if="volumeType==4">其他:{{deviceInfo.volume}}</span>
            </van-cell>
            <van-cell title="图片压缩模式" is-link id="4" @click="handleClick">
                <span v-if="pictureExpressType==2">高清模式</span>
                <span v-if="pictureExpressType==1">普通模式</span>
            </van-cell>
            <van-cell title="门摆归位时间" is-link :value="doorCloseType" id="5" @click="handleClick">
                <span v-if="doorCloseType==1">快速模式</span>
                <span v-if="doorCloseType==2">标准模式</span>
                <span v-if="doorCloseType==3">慢速模式</span>
                <span v-if="doorCloseType==4">其他:{{deviceInfo.doorCloseTime}}</span>
            </van-cell>
            <van-cell title="开机时间" is-link id="6" @click="handleClick">
                <span v-if="ontime==-1">手动开机</span>
                <span v-if="ontime!=-1">{{ontime}}</span>
            </van-cell>
            <van-cell title="关机时间" is-link :value="offtime" id="7" @click="handleClick">
                <span v-if="offtime==-1">手动关机</span>
                <span v-if="offtime!=-1">{{offtime}}</span>
            </van-cell>
            <van-cell title="门禁摆放方向" is-link id="8" @click="handleClick">
                <span v-if="direction==1">正常</span>
                <span v-if="direction==2">对称</span>
            </van-cell>
            <van-cell title="识别距离" :value="distance" is-link id="10" @click="handleClick"></van-cell>
            <van-cell title="设备版本" is-link id="9" @click="handleClick">
                <span v-if="isNewVersion==1">发现最新版本</span>
                <span v-if="isNewVersion==2">版本更新中</span>
                <span v-if="isNewVersion==3">版本更新完成</span>
                <span v-if="isNewVersion==4">版本更新失败</span>
                <span v-if="isNewVersion==5">已经是最新版本</span>
            </van-cell>

        </van-cell-group>
        <!-- 开机时间弹出层 -->
        <van-popup v-model="onShow" position="bottom" :style="{ height: '30%' }">
            <div>
                <van-row class="button-margin">
                    <van-col span="12">
                        <van-button @click="closeOnShow" size="small" type="default">取消</van-button>
                    </van-col>
                    <van-col span="12">
                        <van-button size="small" @click="sureOnTime" class="right-button-position" type="info">确定
                        </van-button>
                    </van-col>
                </van-row>
                <van-row>
                    <van-col span="12">
                        <van-picker :value="uptimeLeft" ref="uptimeLeft" :default-index="ontime1Left"
                            :columns="columns1Left" @change="onChange1"></van-picker>
                    </van-col>
                    <van-col span="12">
                        <van-picker :value="uptimeRight" ref="uptimeRight" :default-index="ontime1Right"
                            :columns="columns1Right" @change="onChange2"></van-picker>
                    </van-col>
                </van-row>
            </div>
        </van-popup>
        <!-- 关机时间弹出层 -->
        <van-popup v-model="offShow" position="bottom" :style="{ height: '30%' }">
            <div>
                <van-row class="button-margin">
                    <van-col span="12">
                        <van-button @click="closeOffShow" size="small" type="default">取消</van-button>
                    </van-col>
                    <van-col span="12">
                        <van-button @click="sureOffTime" size="small" class="right-button-position" type="info">确定
                        </van-button>
                    </van-col>
                </van-row>
                <van-row>
                    <van-col span="12">
                        <van-picker :columns="columns2Left" ref="offtimeLeft" :default-index="offtime2Left"
                            @change="onChange3">
                        </van-picker>
                    </van-col>
                    <van-col span="12">
                        <van-picker :columns="columns2Right" ref="offtimeRight" :default-index="offtime2Right"
                            @change="onChange4">
                        </van-picker>
                    </van-col>
                </van-row>
            </div>
        </van-popup>
        <!-- 修改名称 -->
        <van-dialog v-model="updateName" title="门禁名称" show-cancel-button @confirm="beforeConfirm('0')">
            <div class="input-border">
                <van-field v-model="newName" placeholder="请输入新的门禁名称" />
            </div>
        </van-dialog>
        <van-popup v-model="showPopup" position="bottom" :style="{ height: '30%' }">
            <van-picker show-toolbar title="" :columns="columns" @cancel="onCancel" @confirm="onConfirm" />
        </van-popup>
        <!-- 点击设备版本弹框 -->
        <van-dialog v-if="deviceSettingDia" v-model="deviceSettingDia" title="发现设备新版本" show-cancel-button
            @confirm='updateNow' confirm-button-color="#ff9c00" confirm-button-text="立即更新">
            <div class="dia-body">
                <p>设备版本号:{{deviceInfo.newDeviceVersion.versionNo}}</p>
                <p>更新内容:</p>
                <pre class="setting-fontsize">{{deviceInfo.newDeviceVersion.description}}</pre>
            </div>
        </van-dialog>
        <!-- 确定更新的弹出框 -->
        <van-dialog v-if="updateSureDia" v-model="updateSureDia" @cancel="closeDia" show-cancel-button
            @confirm='updateSure' confirm-button-color="#ff9c00">
            <div class="dia-body1">
                <p>设备更新版本时,会停止工作1-2分钟,</p>
                <p>确定更新设备端版本吗?</p>
            </div>
        </van-dialog>
        <!-- 识别距离小于100cm弹出框 -->
        <van-dialog v-if="small100" v-model="small100" @cancel="closeSmall" show-cancel-button @confirm='smallSure'
            confirm-button-color="#ff9c00">
            <div class="dia-body1">
                <p><span>识别距离设置较近，会影响</span><span class="font-red">小朋友的识别速度</span><span>，确认设置吗？</span></p>
                <p>(不适合小朋友刷脸进出的学校)</p>
            </div>
        </van-dialog>
        <!-- 识别距离大于150cm弹出框 -->
        <van-dialog v-if="big150" v-model="big150" @cancel="closeBig" show-cancel-button @confirm='bigSure'
            confirm-button-color="#ff9c00">
            <div class="dia-body1">
                <p><span>识别距离较远，可能会导致</span><span class="font-red">同时刷开多个通道</span><span>，确认设置吗？</p>
                <p>(适合小朋友单独刷脸进出的学校)</p>
            </div>
        </van-dialog>
        <!-- 播报音量(其他) -->
        <van-dialog v-if="volumeDia" v-model="volumeDia" title="播报音量设置" show-cancel-button @confirm="sureVolume">
            <div class="input-border">
                <van-field v-model="volumeValue" placeholder="请输入播报音量" />
            </div>
        </van-dialog>
        <!-- 门摆归位时间(其他) -->
        <van-dialog v-if="doorDia" v-model="doorDia" title="门摆归位时间设置" show-cancel-button @confirm="sureDoor">
            <div class="input-border">
                <van-field v-model="doorValue" placeholder="请输入门摆归位时间" />
            </div>
        </van-dialog>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    doorValue: '',
                    doorDia: false,
                    volumeDia: false,
                    volumeValue: '',
                    distanceValue: '',
                    small100: false,
                    big150: false,
                    distance: '',
                    ontime1Left: 0,//默认选择的index
                    offtime2Left: 0,
                    ontime1Right: 0,
                    offtime2Right: 0,
                    uptimeLeft: '手动开机',
                    uptimeRight: '手动开机',
                    offtimeLeft: '手动关机',
                    offtimeRight: '手动关机',
                    updateSureDia: false,
                    deviceSettingDia: false,
                    onShow: false,
                    offShow: false,
                    updateName: false,
                    showPopup: false,
                    columns: [],//popup的选项
                    clickIndex: "0",
                    newName: '',
                    sn: '',
                    schoolName: "",
                    deviceName: '',
                    online: '',
                    offlineTimes: '',
                    lastOnlineTime: '',
                    voiceBroadcast: '',
                    volumeType: '',
                    pictureExpressType: '',
                    doorCloseType: '',
                    ontime: '',
                    offtime: '',
                    direction: '',
                    isNewVersion: '',
                    deviceInfo: {},
                    columns1Left: [],
                    columns1Right: [],
                    columns2Left: [],
                    columns2Right: []
                }

            },
            created() {
                this.columns1Left = ['手动开机']
                this.columns1Right = ['手动开机']
                this.columns2Left = ['手动关机']
                this.columns2Right = ['手动关机']
                this.sn = localStorage.getItem("sn");
                this.schoolName = localStorage.getItem("schoolName");
                this.assembleColumns();
                this.getF1Detail();
            },

            methods: {
                sureDoor() {
                    var sn = localStorage.getItem("sn");
                    var req = {}
                    req.sn = sn;
                    req.doorCloseType = 4;
                    req.doorCloseTime = this.doorValue;
                    var postUrl = gateway.replace("/app-server", "");
                    var _this = this
                    $.Ajax("post", postUrl + "/faceentrance/device/details/update", req,
                        function (data) {
                            if (data.responseCode == 200) {
                                vant.Toast("设备信息修改成功!")
                                _this.getF1Detail()
                            } else {
                                vant.Toast(data.responseMessage)
                            }
                        })
                },
                sureVolume() {
                    if (!/(^[0-9]\d*$)/.test(this.volumeValue)) {
                        this.volumeDia = true;
                        vant.Toast("请输入非负整数!");
                        this.volumeValue = "";
                        return;
                    }
                    if (this.volumeValue > 9 || this.volumeValue < 0) {
                        //可设置0~15s的数值
                        this.volumeDia = true;
                        vant.Toast("只可设置0~15s的数值,请重新输入");
                        this.volumeValue = "";
                        return;
                    }
                    var sn = localStorage.getItem("sn");
                    var req = {}
                    req.sn = sn;
                    req.volumeType = 4;
                    req.volume = this.volumeValue;
                    var _this = this
                    var postUrl = gateway.replace("/app-server", "");
                    $.Ajax("post", postUrl + "/faceentrance/device/details/update", req,
                        function (data) {
                            if (data.responseCode == 200) {
                                vant.Toast("设备信息修改成功!")
                                _this.getF1Detail()
                            } else {
                                vant.Toast(data.responseMessage)
                            }
                        })
                },
                closeSmall() {
                    this.small100 = false;
                },
                closeBig() {
                    this.big150 = false;
                },
                smallSure() {
                    this.updateDoorInfo("recognitionDistance", this.distanceValue);
                    this.small100 = false;
                    this.showPopup = false;
                },
                bigSure() {
                    this.updateDoorInfo("recognitionDistance", this.distanceValue);
                    this.big150 = false;
                    this.showPopup = false;
                },
                closeOnShow() {
                    this.onShow = false;
                },
                closeOffShow() {
                    this.offShow = false;
                },
                onChange1(picker, value, index) {
                    this.uptimeLeft = value;
                    // console.log("ssss", this.$refs.uptimeRight.getValues())
                    if (index == 0) {
                        if (this.$refs.uptimeRight.getValues()[0] != "手动开机") {
                            this.$refs.uptimeRight.setValues(["手动开机"])
                        };

                    }
                },
                onChange2(picker, value, index) {
                    this.uptimeRight = value;
                    if (index == 0) {
                        if (this.$refs.uptimeLeft.getValues()[0] != "手动开机") {
                            this.$refs.uptimeLeft.setValues(["手动开机"])
                        };

                    }
                },
                sureOnTime() {
                    var endTimeLeft = parseInt(this.deviceInfo.deviceOffTime.split(":")[0]);
                    var endTimeRight = parseInt(this.deviceInfo.deviceOffTime.split(":")[1]);
                    var settingOnTime;
                    if (this.uptimeLeft == '手动开机' || this.uptimeRight == '手动开机') {
                        settingOnTime = -1;
                    } else {
                        settingOnTime = this.uptimeLeft + ":" + this.uptimeRight;
                    }
                    if (settingOnTime != -1) {
                        if (
                            endTimeLeft - this.uptimeLeft == 1 &&
                            endTimeRight + (60 - this.uptimeRight) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        } else if (endTimeLeft == this.uptimeLeft) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        } else if (
                            endTimeLeft - this.uptimeLeft == -1 &&
                            this.uptimeRight + (60 - endTimeRight) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                        if (
                            endTimeLeft == "00" &&
                            this.uptimeLeft == "23" &&
                            parseInt(endTimeRight) + (60 - parseInt(this.uptimeRight)) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                        if (
                            endTimeLeft == "23" &&
                            this.uptimeLeft == "00" &&
                            parseInt(this.upTimeRight) + (60 - parseInt(endTimeRight)) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                    }
                    // console.log('拿到的开机时间', settingOnTime);
                    this.updateDoorInfo("onTime", settingOnTime);
                    this.onShow = false;
                },
                onChange3(picker, value, index) {
                    this.offtimeLeft = value;
                    if (index == 0) {
                        if (this.$refs.offtimeRight.getValues()[0] != "手动关机") {
                            this.$refs.offtimeRight.setValues(["手动关机"])
                        };

                    }
                },
                onChange4(picker, value, index) {
                    this.offtimeRight = value;
                    if (index == 0) {
                        if (this.$refs.offtimeLeft.getValues()[0] != "手动关机") {
                            this.$refs.offtimeLeft.setValues(["手动关机"])
                        };

                    }
                },
                sureOffTime() {
                    var upTimeLeft = parseInt(this.deviceInfo.deviceOnTime.split(":")[0]);
                    var upTimeRight = parseInt(this.deviceInfo.deviceOnTime.split(":")[1]);
                    var settingOffTime;
                    if (this.offtimeLeft == '手动关机' || this.offtimeRight == '手动关机') {
                        settingOffTime = -1;
                    } else {
                        settingOffTime = this.offtimeLeft + ":" + this.offtimeRight;
                    }
                    if (settingOffTime != -1) {
                        if (
                            this.offtimeLeft - upTimeLeft == 1 &&
                            this.offtimeRight + (60 - upTimeRight) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        } else if (this.offtimeLeft == upTimeLeft) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        } else if (
                            this.offtimeLeft - upTimeLeft == -1 &&
                            upTimeRight + (60 - this.offtimeRight) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                        if (
                            this.offtimeLeft == "00" &&
                            upTimeLeft == "23" &&
                            parseInt(this.offtimeRight) + (60 - parseInt(upTimeRight)) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                        if (
                            this.offtimeLeft == "23" &&
                            upTimeLeft == "00" &&
                            parseInt(upTimeRight) + (60 - parseInt(this.offtimeRight)) < 60
                        ) {
                            vant.Toast('开关机时间间隔最少为一个小时!');
                            return;
                        }
                    }
                    // console.log('拿到的开机时间', settingOffTime);
                    this.updateDoorInfo("offTime", settingOffTime);
                    this.offShow = false;
                },
                updateNow() {
                    this.deviceSettingDia = false;
                    var _this = this;
                    setTimeout(function () {
                        _this.updateSureDia = true;
                    }, 100)
                },
                updateSure() {
                    var postUrl = gateway.replace("/app-server", "");
                    var _this = this;
                    $.Ajax("post", postUrl + "/faceentrance/notify/device/version", { sn: localStorage.getItem("sn") }, function (resp) {
                        if (resp.responseCode == 200) {
                            _this.getF1Detail();
                            vant.Toast('已向设备推送最新版本!');
                        } else {
                            vant.Toast(resp.responseMessage);
                        }
                    })
                    this.updateSureDia = false;
                },
                closeDia() {
                    this.updateSureDia = false;
                },
                handleClick(event) {
                    console.log("ssssss", event.currentTarget.id)
                    this.clickIndex = event.currentTarget.id;
                    switch (event.currentTarget.id) {
                        case "0":
                            this.updateName = true;
                            break;
                        case "1":
                            location.href = "journal.html";
                            break;
                        case "6":
                            if (this.ontime == -1) {
                                this.ontime1Left = 0;//默认选择的index offtime2Left:0,offtime2Right:0,
                                this.ontime1Right = 0;
                            } else {
                                this.ontime1Left = parseInt(this.ontime.split(":")[0]) + 1;
                                this.ontime1Right = parseInt(this.ontime.split(":")[1]) + 1;
                            }
                            this.onShow = true;
                            break;
                        case "7":
                            if (this.offtime == -1) {
                                this.offtime2Left = 0;//默认选择的index offtime2Left:0,offtime2Right:0,
                                this.offtime2Right = 0;
                            } else {
                                this.offtime2Left = parseInt(this.offtime.split(":")[0]) + 1;
                                this.offtime2Right = parseInt(this.offtime.split(":")[1]) + 1;
                            }
                            this.offShow = true;
                            break;
                        case "2":
                            this.showPopup = true;
                            this.columns = ["开启", "关闭"]
                            break;
                        case "3":
                            this.showPopup = true;
                            this.columns = ["响亮模式", "标准模式", "安静模式"]
                            break;
                        case "4":
                            this.showPopup = true;
                            this.columns = ["普通模式", "高清模式"]
                            break;
                        case "5":
                            this.showPopup = true;
                            this.columns = ["快速模式", "标准模式", "慢速模式"]
                            break;
                        case "8":
                            this.showPopup = true;
                            this.columns = ["正常", "对称"]
                            break;
                        case "9":
                            if (this.isNewVersion == 1) {
                                this.deviceSettingDia = true;
                            }

                            break;
                        case "10":
                            this.showPopup = true;
                            this.columns = ["80cm", "90cm", "100cm", "110cm", "120cm", "130cm", "140cm", "150cm", "160cm", "170cm", "180cm", "190cm", "200cm"]
                            break;
                    }
                },
                onCancel() {
                    this.showPopup = false;
                },
                onConfirm(value, index) {
                    if (this.clickIndex == 2) {
                        if (index == 0) {
                            this.beforeConfirm("2", 1);
                        } else {
                            this.beforeConfirm("2", 2);
                        }
                        this.showPopup = false;
                    }
                    if (this.clickIndex == 3) {
                        if (index == 0) {
                            this.beforeConfirm("3", 1);
                        }
                        if (index == 1) {
                            this.beforeConfirm("3", 2);
                        }
                        if (index == 2) {
                            this.beforeConfirm("3", 3);
                        }
                        if (index == 3) {
                            // this.beforeConfirm("3", 4);
                            this.volumeDia = true;
                        }
                        this.showPopup = false;
                    }
                    if (this.clickIndex == 4) {
                        if (index == 0) {
                            this.beforeConfirm("4", 1);
                        }
                        if (index == 1) {
                            this.beforeConfirm("4", 2);
                        }
                        this.showPopup = false;
                    }
                    if (this.clickIndex == 5) {
                        if (index == 0) {
                            this.beforeConfirm("5", 1);
                        }
                        if (index == 1) {
                            this.beforeConfirm("5", 2);
                        }
                        if (index == 2) {
                            this.beforeConfirm("5", 3);
                        }
                        if (index == 3) {
                            // this.beforeConfirm("5", 3);
                            this.doorDia = true;
                        }
                        this.showPopup = false;
                    }
                    if (this.clickIndex == 8) {
                        if (index == 0) {
                            this.beforeConfirm("8", 1);
                        }
                        if (index == 1) {
                            this.beforeConfirm("8", 2);
                        }
                        this.showPopup = false;
                    }
                    if (this.clickIndex == 10) {
                        this.distanceValue = value.split("cm")[0];
                        if (parseInt(value.split("cm")[0]) < 100) {
                            // console.log('小于100cm');
                            this.small100 = true;
                        }
                        if (parseInt(value.split("cm")[0]) >= 150) {
                            // console.log('大于150cm');
                            this.big150 = true;
                        }
                        if (parseInt(value.split("cm")[0]) >= 100 && parseInt(value.split("cm")[0]) < 150) {
                            this.updateDoorInfo("recognitionDistance", this.distanceValue);
                            this.showPopup = false;
                        }
                    }
                },
                beforeConfirm(key, value) {
                    var attr, value;
                    switch (key) {
                        case "0":
                            attr = "deviceName"; value = this.newName; break;
                        case "2":
                            attr = "voiceBroadcast"; break;
                        case "3":
                            attr = "volumeType"; break;
                        case "4":
                            attr = "pictureExpressType"; break;
                        case "5":
                            attr = "doorCloseType"; break;
                        case "6":
                            attr = "onTime"; break;
                        case "7":
                            attr = "offTime"; break;
                        case "8":
                            attr = "direction"; break;
                    }
                    this.updateDoorInfo(attr, value);
                },
                updateDoorInfo(attr, value) {
                    var sn = localStorage.getItem("sn");
                    var req = {}
                    req.sn = sn;
                    req[attr] = value;
                    var _this = this;
                    var postUrl = gateway.replace("/app-server", "");
                    $.Ajax("post", postUrl + "/faceentrance/device/details/update", req,
                        function (data) {
                            if (data.responseCode == 200) {
                                vant.Toast("设备信息修改成功!")
                                _this.getF1Detail()
                            } else {
                                vant.Toast(data.responseMessage)
                            }
                        })
                },
                getF1Detail() {
                    var self = this;
                    var postUrl = gateway.replace("/app-server", "");
                    $.Ajax("post", postUrl + "/faceentrance/device/details/get", { sn: this.sn }, function (resp) {
                        if (resp.responseCode == 200) {
                            // console.log("dddddd", resp)
                            self.deviceInfo = resp.data;
                            console.log("dddddd", self.deviceInfo)
                            self.deviceName = self.deviceInfo.deviceName;
                            self.online = self.deviceInfo.online;
                            self.offlineTimes = self.deviceInfo.offlineTimes;
                            self.lastOnlineTime = self.deviceInfo.lastOnlineTime;
                            self.voiceBroadcast = self.deviceInfo.voiceBroadcast;
                            self.volumeType = self.deviceInfo.volumeType;
                            self.pictureExpressType = self.deviceInfo.pictureExpressType;
                            self.doorCloseType = self.deviceInfo.doorCloseType;
                            self.ontime = self.deviceInfo.deviceOnTime;
                            self.offtime = self.deviceInfo.deviceOffTime;
                            self.direction = self.deviceInfo.direction;
                            self.isNewVersion = self.deviceInfo.updateStatus;
                            self.distance = self.deviceInfo.recognitionDistance;
                            // console.log("dddddd", self.deviceName)


                        } else {
                            vant.Toast(resp.responseMessage);
                        }
                    })
                },
                assembleColumns() {
                    for (var i = 0; i < 24; i++) {
                        var str = i;
                        if (i < 10) { str = "0" + i }
                        this.columns1Left.push(str)
                        this.columns2Left.push(str)
                    }
                    for (var j = 0; j < 60; j++) {
                        var str = j;
                        if (j < 10) { str = "0" + j }
                        this.columns1Right.push(str)
                        this.columns2Right.push(str)
                    }
                },
            }
        })
    </script>
</body>

</html>