body{padding: 0px;margin: 0px;background-color: #e7e8eb;height: 100%;font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"SimSun";}
div,p{margin: 0px;padding: 0px;box-sizing:border-box;}
html{height:100%;}
.bottom{width: 100%;height: 50px;background-color: #ffffff;position: absolute;bottom: 0px;left:0px;border-top: 1px solid #e5e5e5;overflow: hidden;font-size: 12px;}
.bottom>div{float: left;width: 25%;text-align: center;height: 100%;margin-top:2px;}
.bottom>div>img{width: 18px;position: relative;top: 5px;}
.bottom>div>p{position: relative;top:5px;}

.people_list{width: 100%;height:50px;background-color: #fff;border-bottom: 1px solid #e5e5e5;font-size:14px;}
.people_list>div{width: 90%;margin: 0 auto;height: 100%;}
.people_list>div>div{font-size: 14px;color: #bbbbbb;;float: left;height:30px;margin-top:10px;line-height: 30px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;text-align: center;padding: 0px 2px;}
.card_num{padding: 4px 8px;background-color: #ffffff;padding: 2px 0px;font-size: 14px;}
.card_num>div{width: 90%;margin: 0 auto;}
.date_title{font-weight: 700;color: #5e5e5e;line-height: 40px;}
.num_ss{width:20px;height:20px;border-radius: 20px;background-color: #bbbbbb;text-align: center;line-height: 20px;color: #ffffff;margin-bottom:90px;position: relative;left: -10px;}
.clear{clear: both;}
.active{color:rgb(255, 152, 0)}
.noactive{color:rgb(187, 187, 187)}
input{
	resize: none;
	box-sizing: border-box;
	-webkit-appearance: none;
}
