<div ng-controller="DetailCrl">
    <ion-pane style="background-color: #eee;">
        <ion-content style="bottom:50px;">
            <div class="card" style="width: 6rem;margin: 20px auto!important;">
                <p style="font-size: 16px;font-weight: 600;line-height: 40px;padding-left:0.2rem;">快递单号</p>
                <div style="width: 5.6rem;margin: 0 auto!important;">
                    <input type="text" style="border: 1px solid #eee;border-radius: 4px;width: 100%;" placeholder="填写快递公司" ng-value="express" ng-model="express" ng-change="getexpress(express)"/>
                    <br/>
                    <input type="text" style="border: 1px solid #eee;border-radius: 4px;width: 100%;" placeholder="填写快递单号" ng-value="expressnum" ng-model="expressnum" ng-change="getexpressnum(expressnum)"/>
                    <button class="button button-energized" style="font-size: 12px;width:5.6rem;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;border-radius: 30px;"  ng-click="goparts()">确定</button>
                    <div style="height: 30px;"></div>
                </div>
            </div>
        </ion-content>
    </ion-pane>
</div>
