<div ng-controller="formCrl">
<ion-pane style="background-color: #eee;">
    <ion-content>
            <div class="card" style="width: 5.6rem;position: relative;left: 0.4rem;">
                    <div class="list" style="width: 5rem;position: relative;left: 0.3rem;">
                        <label class="item item-input" style="font-weight: 600;">
                            新建工单
                        </label>
                        <label class="item item-input" >
                            <input type="text" placeholder="输入姓名" >
                        </label>
                        <label class="item item-input" >
                            <input type="text" placeholder="输入手机号" >
                        </label>
                        <label class="item item-select" style="height: 46px;" >
                            <select style="width:5rem!important;max-width: 100%;text-align: left;direction:ltr;">
                                <option>Blue</option>
                                <option selected="">Green</option>
                                <option>Red</option>
                            </select>
                        </label>
                        <label class="item item-select" style="height: 46px;" >
                            <select style="width:5rem!important;max-width: 100%;text-align: left;direction:ltr;">
                                <option>Blue</option>
                                <option selected="">Green</option>
                                <option>Red</option>
                            </select>
                        </label>
                        <label class="item item-select" style="height: 46px;" >
                            <select style="width:5rem!important;max-width: 100%;text-align: left;direction:ltr;">
                                <option>Blue</option>
                                <option selected="">Green</option>
                                <option>Red</option>
                            </select>
                        </label>
                        <p style="line-height: 40px;">选择设备SN：</p>
                        <div>
                            <p style="display: inline-block;line-height: 30px;">
                                <input type="checkbox"/>dadadada
                            </p>
                            <p style="display: inline-block;line-height: 30px;">
                                <input type="checkbox"/>dadadada
                            </p>
                            <p style="display: inline-block;line-height: 30px;">
                                <input type="checkbox"/>dadadada
                            </p>
                            <p style="display: inline-block;line-height: 30px;">
                                <input type="checkbox"/>dadadada
                            </p>


                        </div>
                        <p style="line-height: 40px;">问题描述：</p>
                        <div>
                            <textarea placeholder="不少于10个字" style="border: 1px solid #ddd;width: 5rem;height: 100px;padding: 4px;"></textarea>
                        </div>
                        <div style="padding-top: 20px;">
                            <div style="width: 100px;height: 100px;background-color: #eee;text-align: center;line-height: 100px;position: relative;display: inline-block;" class="add">
                                <i class="icon ion-plus" style="font-size: 30px;color:#fff;"></i>
                                <input type='file' onchange="aas($(this))" style="position: absolute;top: 0px;left: 0px;width: 100px;height: 100px;opacity: 0;"/>
                            </div>
                            <div class="aaa" style="display: none;"></div>
                        </div>

                        <button class="button button-energized" style="font-size: 16px;min-width: 30px;font-weight:600;min-height: 10px;padding: 0 8px;height: 30px;line-height: 30px;margin-top: 10px;width: 100%;" onclick="scpzFuc()">提交</button>
                    </div>
            </div>
    </ion-content>
</ion-pane>
</div>
<script>

    $(function(){

    })

    function aas(obj){
        //alert(obj.get(0).files[0].type);
        /*x5-playsinline="" playsinline="" webkit-playsinline="" poster="" preload="auto"*/
        $(".aaa").append('<video controls autoplay width="300"  id="my-video"  style="display: none;" preload="metadata"  ><source src="'+window.URL.createObjectURL(obj.get(0).files[0])+'" ></video>');
        new captureImage();
    }
    var video;
    var captureImage = function() {
        $(".video_div").html("");
        var myVideo = document.getElementsByTagName('video')[0];
        myVideo.addEventListener("loadedmetadata", function(){

            setTimeout(function () {
                var canvas = document.createElement("canvas");
                canvas.width = myVideo.videoWidth *0.2;
                canvas.height = myVideo.videoHeight *0.2;
                canvas.getContext('2d').drawImage(myVideo, 0, 0, canvas.width, canvas.height);
                $(".add").before('<div  style="width: 100px;height: 100px;overflow: hidden;display: inline-block;float:left;margin-right: 10px!important;position: relative;"><img src="'+canvas.toDataURL("image/png")+'" onclick="pplay()" class="ylt" style="width: 100%;height: 100%;"><i class="icon ion-android-arrow-dropright-circle" onclick="pplay()" style="position: absolute;top: 0px;left: 0px;color: #fff;font-size: 30px;top:35px;left:35px;"></i></div>');
            },1000);
        });

    };
    function pplay(){
        var myVideo = document.getElementsByTagName('video')[0];
        myVideo.play();
    }


</script>