<div ng-controller="GdDetailCrl">
    <ion-pane style="background-color: #eee;">
        <ion-content style="bottom:50px;">
            <div class="card">
                <p style="line-height: 40px;padding-left: 10px;padding-right: 10px;">
                    <span>工单详情</span>
                    <i class="icon ion-chevron-down" style="float: right"></i>
                </p>
            </div>
            <div class="card" style="">
                <table>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">工单编号：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.ordernum}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">学校名称：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.sname}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">学校电话：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.aphone}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">超级管理员：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.aname}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">设备sn码：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.sn}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">设备状态：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.warranty}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">问题分类：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.fname}}</p></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;"><p style="width: 3.2rem;padding-left: 0.2rem;line-height: 30px;">提交日期：</p></td>
                        <td style="text-align: right;"><p style="width: 3.2rem;padding-right: 0.2rem;line-height: 30px;">{{order.ctime}}</p></td>
                    </tr>
                </table>

            </div>


            <div class="card" style="margin-top: 20px!important;">
                <p style="line-height: 40px;padding-left: 10px;padding-right: 10px;">
                    <span>工单状态</span>
                    <span style="padding: 2px 4px!important;background-color: #58c0ed;border-radius: 4px;color: #fff;float:right;height: 30px!important;line-height: 30px;position: relative;top: 5px;">{{order.statestr}}</span>
                </p>
            </div>

            <div class="card">
                <p style="font-size: 16px;font-weight: 600;line-height: 30px;padding-left: 10px;">问题描述</p>
                <p style="line-height: 30px;padding-left: 10px;padding-right: 10px;">
                    <span><span style="font-weight: 600;">{{order.name}}（{{order.phone}}）</span></span>
                    <span style="float: right;">{{order.rtime}}</span>
                </p>
                <p style="color:#333;padding: 10px;">{{order.content}}</p>
            </div>
        </ion-content>

        <!--<div class="bar bar-footer" style="padding: 0px!important;">
            <div ng-if="order.rstate==3&&order.type==0" style="width: 6.4rem;">
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #ffa60a;background-color: #fff;" ng-click="godetail()">填写快递单号</div>
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #fff;background-color:#ffa60a;" ng-click="goparts()">完善收货地址</div>
            </div>
            <div ng-if="order.rstate==3&&order.type==1" style="width: 6.4rem;">
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #ffa60a;background-color: #fff;" ng-click="seeorder()">查看单号</div>
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #fff;background-color:#ffa60a;" ng-click="goparts()">完善收货地址</div>
            </div>
            <div ng-if="(order.rstate<3&&order.rstate>0)&&order.type==1" style="width: 6.4rem;">
                <div style="width:100%;float: left;height: 60px;text-align: center;line-height: 45px;color: #ffa60a;background-color: #fff;" ng-click="seeorder()">查看单号</div>
            </div>
            <div ng-if="(order.rstate<3&&order.rstate>0)&&order.type==0" style="width: 6.4rem;">
                <div style="width:100%;float: left;height: 60px;text-align: center;line-height: 45px;color: #ffa60a;background-color: #fff;" ng-click="godetail()">填写快递单号</div>

            </div>
            <div ng-if="order.rstate>3&&order.type==1" style="width: 6.4rem;">
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #ffa60a;background-color: #fff;" ng-click="seeorder()">查看单号</div>
                <div style="width: 50%;float: left;height: 60px;text-align: center;line-height: 45px;color: #fff;background-color:#ffa60a;" ng-click="goparts()">查看维修单</div>
            </div>
            <div ng-if="order.rstate==0" style="width: 6.4rem;">

            </div>
        </div>-->
    </ion-pane>
</div>
</div>