<div ng-controller="ListCrl">
    <ion-pane style="background-color: #eee;">

        <ion-content>
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <div ng-repeat="item in orderList">
                <div style="width: 6rem;height: 100px;position: relative;display:inline-block;margin-left: 0.2rem!important;margin-top: 20px!important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);" ng-click="goGdDetail(item.soid)">
                    <div style="width: 6rem;height: 100px;position: absolute;border: 1px solid #eee;background-color: #fafafa;padding: 4px;">
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span style="padding: 2px 4px;background-color: #58c0ed;border-radius: 4px;color: #fff;">{{item.statestr}}</span>
                            <span>工单编号：{{item.ordernum}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>问题类型：</span>
                            <span>{{item.fname}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>问题描述：</span>
                            <span>{{item.content}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>提交日期：</span>
                            <span>{{item.ctime}}</span>
                        </p>
                    </div>

                    <div style="width: 8px;height: 8px;border-radius: 8px;background-color: red;top: -2px;right: -5px;position: absolute;" ng-if="item.mes==1"></div>
                </div>
            </div>
            <ion-infinite-scroll
                    ng-if="can_loadmore()"
                    on-infinite="loadMore()"
                    distance="1%">
            </ion-infinite-scroll>
            <div style="text-align: center;line-height: 30px;">{{dbwz}}</div>
        </ion-content>
    </ion-pane>
</div>