<div ng-controller="mainCrl">
    <div class="bar bar-header bar-light">
        <p style="line-height: 35px;width: 100%;" ng-click="goList()">
            <span>全部工单({{scount}})</span>
            <span style="float: right;margin-right: 0.1rem;"><i class="icon ion-chevron-right"></i></span>
        </p>
    </div>

    <ion-pane style="background-color: #eee;">
        <ion-content style="top:50px;bottom:50px;">
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <div ng-repeat="item in orderList">
                <div style="width: 6rem;height: 100px;position: relative;display:inline-block;margin-left: 0.2rem!important;margin-top: 20px!important;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);" ng-click="goGdDetail(item.soid)">
                    <div style="width: 6rem;height: 100px;position: absolute;border: 1px solid #eee;background-color: #fafafa;padding: 4px;">
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span style="padding: 2px 4px;background-color: #58c0ed;border-radius: 4px;color: #fff;">{{item.statestr}}</span>
                            <span>工单编号：{{item.ordernum}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>问题类型：</span>
                            <span>{{item.fname}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>问题描述：</span>
                            <span>{{item.content}}</span>
                        </p>
                        <p style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;line-height: 22px; ">
                            <span>提交日期：</span>
                            <span>{{item.ctime}}</span>
                        </p>
                    </div>

                    <div style="width: 8px;height: 8px;border-radius: 8px;background-color: red;top: -2px;right: -5px;position: absolute;" ng-if="item.mes==1"></div>
                </div>
            </div>
            <ion-infinite-scroll
                    ng-if="can_loadmore()"
                    on-infinite="loadMore()"
                    distance="1%">
            </ion-infinite-scroll>
            <div style="text-align: center;line-height: 30px;">{{dbwz}}</div>
        </ion-content>
    </ion-pane>


    <div class="bar bar-footer bar-balanced">
        <div class="bottom" style="position: fixed;bottom: 0px;left: 0px;">
            <div class="btn noactive" goUrl="../../pica.html">
                <img src="../../img/paika.png" class="img_1" style="display: none;">
                <img src="../../img/paika1.png" class="img_2">
                <p>派卡</p>
            </div>
            <div class="btn noactive" goUrl="../../order/index.html">
                <img src="../../img/kacun.png" class="img_1" style="display: none;">
                <img src="../../img/kacun1.png" class="img_2">
                <p>下单</p>
            </div>
            <div class="btn noactive" goUrl="../../establish.html">
                <img src="../../img/chuangjian 1.png" class="img_1">
                <img src="../../img/chuangjian.png" style="display: none;" class="img_2">
                <p>创建</p>
            </div>
            <div class="btn" goUrl="index.html">
                <img src="../../img/xuexiao.png" class="img_1">
                <img src="../../img/xuexiao1.png"  class="img_2" style="display: none;">
                <p style="color: rgb(255, 152, 0);">售后</p>
            </div>
            <div class="btn noactive" goUrl="../../My.html">
                <img src="../../img/wode.png" class="img_1" style="display: none;">
                <img src="../../img/wode1.png"  class="img_2">
                <p>我的</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        localStorage.setItem("urlback","1");
        $(".bottom").on("click",".noactive",function(){
            if($(this).attr("goUrl")){
                window.location.href=$(this).attr("goUrl");
            }
        })
    })
</script>