<div ng-controller="partsCrl">
    <ion-pane style="background-color: #eee;">
        <ion-content style="">
            <div class="card list goAddress" style="padding: 0.2rem;margin-bottom: 5px!important;" goUrl="../order2/doOrder.html#/choseAddress" ng-if="repair.pass==0" onclick="aa($(this))">
                <p style="line-height: 30px;">
                    <span style="float: left;">收货人：{{getDress.recievename}}</span>
                    <span style="float: right;">{{getDress.phone}}</span>
                <div style="clear: both;"></div>
                </p>
                <div>
                    <div style="width: 5.5rem;float: left;">
                        <p style="line-height: 20px;"><i class="icon ion-location" style="font-size: 20px;position: relative;top: 2px;"></i>&nbsp;&nbsp;&nbsp;收货地址：{{getDress.province}}{{getDress.city}}{{getDress.region}}{{getDress.adressdetail}}</p>
                    </div>
                    <div style="width: 0.5rem;float: left;">
                        <i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i>
                    </div>
                </div>
                <div style="width: 6rem;padding: 0px;">
                    <p style="color:red;padding: 0px;">{{dzinfalert}}<p>
                </div>
            </div>

            <div class="card list " style="padding: 0.2rem;margin-bottom: 5px!important;" goUrl="../order1/doOrder.html#/choseAddress" ng-if="repair.pass==1">
                <p style="line-height: 30px;">
                    <span style="float: left;">收货人：{{getDress.recievename}}</span>
                    <span style="float: right;">{{getDress.phone}}</span>
                <div style="clear: both;"></div>
                </p>
                <div>
                    <div style="width: 5.5rem;float: left;">
                        <p style="line-height: 20px;"><i class="icon ion-location" style="font-size: 20px;position: relative;top: 2px;"></i>&nbsp;&nbsp;&nbsp;收货地址：{{getDress.province}}{{getDress.city}}{{getDress.region}}{{getDress.adressdetail}}</p>
                    </div>
                    <div style="width: 0.5rem;float: left;">
                        <i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i>
                    </div>
                </div>
                <div style="width: 6rem;padding: 0px;">
                    <p style="color:red;padding: 0px;">{{dzinfalert}}<p>
                </div>
            </div>

            <div class="card">
                <p style="line-height: 30px;"><span style="padding-left: 0.2rem;">快递单号：</span><span>{{repair.expressnum}}</span></p>
                <div style="width: 100%;background-color: #eee;margin-top: 5px!important;" ng-repeat="item in part">
                    <p style="line-height: 30px;padding-left: 0.2rem;height: 30px;"><span>{{item.name}}</span><span style="float: right;padding-right: 0.2rem">￥{{item.price}}</span></p>
                    <p style="line-height: 30px;padding-left: 0.2rem;height: 30px;"><span style="float: right;padding-right: 0.2rem">*{{item.count}}</span></p>
                </div>
                <p style="line-height: 30px;padding-left: 0.2rem;height: 30px;"><span>快递公司</span><span style="float: right;padding-right: 0.2rem">{{repair.express}}</span></p>
                <p style="line-height: 30px;padding-left: 0.2rem;height: 30px;"><span>运费</span><span style="float: right;padding-right: 0.2rem">包邮</span></p>
                <p style="line-height: 40px;padding-left: 0.2rem;height: 40px;border-top: 1px solid #eee;"><span>实付款</span><span style="float: right;padding-right: 0.2rem">￥{{repair.money}}</span></p>
            </div>

            <div class="card" style="margin-top: 10px!important;padding-left: 0.2rem;">
                <table>
                    <tr>
                        <td>创建时间：</td>
                        <td>{{repair.signtime}}</td>
                    </tr>
                    <tr>
                        <td>付款时间：</td>
                        <td>{{repair.dtime}}</td>
                    </tr>
                </table>
            </div>
            <div class="card" >
                <div ng-if="repair.pass==0">
                    <button class="button button-energized" style="font-size: 12px;width:2rem;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;border-radius: 30px;float: right;position: relative;top:-5px;"  ng-click="upload(repair.soid)">上传凭证</button>
                </div>
                <div ng-if="repair.pass==1">
                    <button class="button button-energized" style="font-size: 12px;width:2rem;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;border-radius: 30px;float: right;position: relative;top:-5px;"  ng-click="see(repair.soid)">查看图片</button>
                </div>
                <div ng-if="repair.pass==2">
                    <button class="button button-energized" style="font-size: 12px;width:2rem;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;border-radius: 30px;float: right;position: relative;top:-5px;"  ng-click="upload(repair.soid)">重新上传凭证</button>
                    <button class="button button-energized" style="font-size: 12px;width:2rem;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;border-radius: 30px;float: right;position: relative;top:-5px;right:10px;"  ng-click="see(repair.soid)">查看图片</button>
                </div>
            </div>
            <div class="card" ng-if="repair.pass==2">
                <p style="padding-left:10px;">未通过原因：</p>
                <p style="color: red;padding-left:10px;">{{repair.reason}}</p>
            </div>
        </ion-content>
    </ion-pane>
</div>
<script>
    $(function(){
    });
    function aa(obj){
        $(".goAddress").click(function(){
            window.location.href=obj.attr("goUrl");
        });
    }
</script>
