<div ng-controller="seeorder">
    <ion-pane style="background-color: #eee;">

        <ion-content>
            <div class="card">
                <p style="padding-left: 10px;font-weight: 600;line-height: 25px;">快递单号</p>
                <p style="padding-left: 10px;">快递公司：{{info.express}}</p>
                <p style="padding-left: 10px;">快递单号：{{info.expressnum}}</p>
            </div>
        </ion-content>
    </ion-pane>
</div>