<!DOCTYPE html>
<html lang="en" id="html"style="height: 100%;background-color: #eee;">
<head>
    <meta charset="UTF-8">
    <!--   width                      - viewport的宽度

       height                     – viewport的高度
       initial-scale          - 初始的缩放比例
       minimum-scale  - 允许用户缩放到的最小比例
       maximum-scale – 允许用户缩放到的最大比例
       user-scalable       – 用户是否可以手动缩放-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--IOS中Safari允许全屏浏览-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--IOS中Safari顶端状态条样式：-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--忽略将数字变为电话号码：-->
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>产品</title>
    <link href="public/css/bootstrap.css" rel="stylesheet"/>
    <link href="public/css/bootstrap-select.css" rel="stylesheet">
    <!--<link href="public/css/bootstrap-theme.css" rel="stylesheet">-->
    <script src="public/js/ssl.js"></script>
    <!-- <script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="public/js/jquery-1.11.3.min.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <!--选择框-->
    <script src="public/js/bootstrap-select.js"></script>
    <!--图片-->
    <script src="public/js/exif.js"></script>
    <!--ios视频不全屏-->
    <script src="public/js/requestAnimationFrame.js"></script>

    <!--提示-->
    <link href="public/css/toastr.css" rel="stylesheet" />
    <script src="public/js/toastr.min.js"></script>
    <!--加载-->
    <script src="public/js/PerfectLoad.js"></script>
    <!--按钮-->
    <link href="public/css/button.css" rel="stylesheet" />

    <script src="public/js/jquery.fn.js"></script>
    <link href="public/css/index.css" rel="stylesheet" />


    <!--angular-->
    <!--<script src="public/js/angular.min.js"></script>
    <script src="public/js/angular-route.js"></script>-->

    <!--ionic-->
    <link href="public/js/ionic/css/ionic.css" rel="stylesheet">

    <script src="public/js/ionic/js/ionic.bundle.js"></script>
    <script src="../js/a.js?v=1"></script>
    <style>
		.bottom{width: 100%;height: 50px;background-color: #ffffff;position: absolute;bottom: 0px;left:0px;border-top: 1px solid #e5e5e5;overflow: hidden;font-size: 12px;}
		.bottom>div{float: left;width: 20%;text-align: center;height: 100%;margin-top:2px;}
		.bottom>div>img{width: 18px;position: relative;top: 0px;}
		.bottom>div>p{position: relative;top:-3px;color: #8f8f94;}
    </style>
    <script>


        //rem
        (function (doc, win) {

            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=640){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body style="margin: 0px;padding: 0px;height: 100%;background-color: #eee;">

<div style="width:6.4rem;height:100%;position: relative;margin: 0 auto!important;overflow: hidden;">
    <div ng-app="dzyx_app" ng-controller="actionsheetCtl">
        <div class="bar bar-header bar-light">
            <p class="title" style="text-align: left;font-weight: 400;font-size: 14px;padding-left: 10px!important;">
                全部产品({{itemsLenght}})
            </p>
        </div>

        <ion-pane>

            <ion-content style="background-color: #eee;top: 44px;bottom: 44px;"  class="contentH">

                <!--<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>-->

                <ion-list >

                    <div class="product-wall" ng-repeat="item in items" ng-click="modalShow({{item.dpid}})" style="box-shadow: 2px 2px 1px #888888;float: left;width: 2.9rem;margin-left:0.2rem!important;background-color: #fff; margin-top: 10px!important;border-radius: 2px;">
                        <div style="width:2.9rem;margin: 0 auto;border-bottom: 1px solid #eee;height: 2.9rem;">
                            <img src="{{item.imgUrl}}" style="width: 2.9rem;height: 2.9rem;"/>
                        </div>
                        <div style="height:0.79rem;">
                            <p style="height: 0.34rem;line-height: 0.34rem;padding-left: 0.1rem">{{item.pname}}</p>
                            <p style="height: 0.34rem;line-height: 0.34rem;padding-left: 0.1rem;color:#ff9800;float: left;width: 2rem;">￥{{item.price}}</p>
                            <p style="height: 0.34rem;line-height: 0.34rem;color:#ff9800;float: right;width: 0.4rem;"><img src="public/img/gwc2.png" style="width: 0.3rem;"/></p>
                        </div>
                    </div>
                </ion-list>

            </ion-content>
        </ion-pane>

        <div class="bar bar-footer bar-balanced">
           <div class="bottom" style="position: fixed;bottom: 0px;left: 0px;">
		    <div class="btn noactive" goUrl="../pica.html">
		        <img src="../img/paika.png" class="img_1" style="display: none;">
		        <img src="../img/paika1.png" class="img_2">
		        <p>派卡</p>
		    </div>
		    <div class="btn" goUrl="order/index.html">
		        <img src="../img/kacun1.png" class="img_1" style="display: none;">
		        <img src="../img/kacun.png" class="img_2">
		        <p style="color: rgb(255, 152, 0);">下单</p>
		    </div>
		    <div class="btn noactive" goUrl="../establish.html">
		        <img src="../img/chuangjian 1.png" class="img_1">
		        <img src="../img/chuangjian.png" style="display: none;" class="img_2">
		        <p>创建</p>
		    </div>
		    <div class="btn noactive" goUrl="afterSales/index.html">
		        <img src="../img/xuexiao1.png" class="img_1">
		        <img src="../img/xuexiao.png"  class="img_2" style="display: none;">
		        <p>售后</p>
		    </div>
		    <div class="btn noactive" goUrl="../My.html">
		        <img src="../img/wode.png" class="img_1" style="display: none;">
		        <img src="../img/wode1.png"  class="img_2">
		        <p>我的</p>
		    </div>
		</div>
        </div>

    </div>
    <img src="public/img/gwc_icon.png" style="position: absolute;bottom: 100px;right: 10px;z-index: 8;width: 60px;height: 60px;" onclick="openCart()"/>



</div>




</body>
<script>
    var Url="https://www.dazhi100.com/agentjs/";
    //var Url="http://192.168.7.130:9090/CloudIntel/agentjs/";
    var product="";
    var productAll="";
    var num=1;
    var color="";
    var needCustom=0;
    var count="";
    var dpid="";
    var aid=localStorage.getItem("aid");
    var maxNum=1;
    angular.module('dzyx_app', ['ionic'])
        .run(function($ionicPlatform) {
            $ionicPlatform.ready(function() {

                if(window.cordova && window.cordova.plugins.Keyboard) {
                    cordova.plugins.Keyboard.hideKeyboardAccessoryBar(true);
                }
                if(window.StatusBar) {
                    StatusBar.styleDefault();
                }
            });
        })
        .controller( 'actionsheetCtl',['$scope','$timeout' ,'$http','$ionicLoading','$ionicModal',function($scope,$timeout,$http,$ionicLoading,$ionicModal){
            $ionicLoading.show({
                content: 'Loading',
                animation: 'slide-in-up',
                showBackdrop: true,
                maxWidth: 200,
                showDelay: 0
            });

            $http({
                method: "POST",
                url: Url+"order_findProductList.shtml",
                params: {
                    aid: aid
                }
            }).success(function (data) {
                $ionicLoading.hide();
                $scope.items=data.productList;
                $scope.itemsLenght=data.productList.length;
                productAll=data.productList;
                console.log(data);
            }).error(function () {
                toastr.error("获取失败");
            }).finally(function() {
                $scope.$broadcast('scroll.refreshComplete');
            });



            //定制
            $scope.ifcus=function($event){
               var check=$event.target;
                needCustom=check.checked?1:0;
				if(check.checked){
				    setTimeout(function () {
                        num=parseInt($(".countp").val());
                    },10);
		         	if(parseInt(num)<product.customNum){
			             $(".countp").val(product.customNum);
		         	}
		         }
            };
            //加入购物车
            $scope.createContact = function(u) {
                count=num;
                dpid=product.dpid;
                if(color==""){
                    toastr.error("请选择颜色");
                    return;
                }

                if(count==0||isNaN(count)){
                    toastr.error("数量不能为空");
                    return;
                }
                $ionicLoading.show();
                $.post(Url+"order_addShoppingCart.shtml",{"color":color,"needCustom":needCustom,"count":count,"dpid":dpid,"aid":aid},function(data){
                    $ionicLoading.hide();
                    if(data.s==1){
                        toastr.success("添加成功");
                        $ionicLoading.hide();
                        $scope.modal.remove();
                        num=1;
                        color="";
                    }else{
                        toastr.error("添加失败");
                        $ionicLoading.hide();
                    }
                })
            };
            $scope.$on('modal.hidden', function() {
                $scope.modal.remove();
                num=1;
                color="";
            });
            //遮罩
            $scope.modalShow=function(id){
                color="";
                for(var i=0;i<productAll.length;i++){
                    if(productAll[i].dpid==id){
                        $scope.product=productAll[i];
                        product=productAll[i];
                        maxNum=productAll[i].maxNum;
                    }
                }
                $ionicModal.fromTemplateUrl('modal.html', {
                    scope: $scope,
                    animation: 'silde-in-up'
                }).then(function(modal) {
                    $scope.num=num;
                    needCustom=0;
                    $scope.modal = modal;
                    $scope.modal.show();

                    $scope.colorArr=$scope.product.color.split(",");
                    $(".chose_color").css({"color":"#333","background-color":"#eee"});
                    if(product.ifCustom==1){
                        $(".dz_div").show();
                    }else{
                        $(".dz_div").hide();
                    }
                });




            };

        }]);
    //参数设置，若用默认值可以省略以下面代
    toastr.options = {

        "closeButton": false, //是否显示关闭按钮

        "debug": false, //是否使用debug模式

        "positionClass": "toast-top-center",//弹出窗的位置

        "showDuration": "300",//显示的动画时间

        "hideDuration": "1000",//消失的动画时间

        "timeOut": "2000", //展现时间

        "extendedTimeOut": "10000",//加长展示时间

        "showEasing": "swing",//显示时的动画缓冲方式

        "hideEasing": "linear",//消失时的动画缓冲方式

        "showMethod": "fadeIn",//显示时的动画方式

        "hideMethod": "fadeOut" //消失时的动画方式

    };
    $(function(){

    	localStorage.setItem("urlback","1");
    	$(".bottom").on("click",".noactive",function(){
				if($(this).attr("goUrl")){
					window.location.href=$(this).attr("goUrl");
				}
			})


    });
     function add(){
       num=parseInt($(".countp").val())+1;
         if(num>parseInt(maxNum)){
             num=maxNum;
             $(".countp").val(maxNum);
         }else{
             $(".countp").val(num);
         }

         if(product.ifCustom==1){
            $(".dz_div").show();
         }else{
             $(".dz_div").hide();
         }
     }
     function jFuc() {
     	 if(product.ifCustom==1){
            $(".dz_div").show();
         }else{
             $(".dz_div").hide();
         }
         if($(".dz_inp").is(":checked")){
         	if(parseInt(num)>product.customNum){
	             num=parseInt($(".countp").val())-1;
	             $(".countp").val(num);
	         }
         }else{
         	if(parseInt(num)>1){
	             num=parseInt($(".countp").val())-1;
	             $(".countp").val(num);
	         }
         }
         
        

     }

     function getNum(){
         if(!/[\d]/g.test($(".countp").val())){
             $(".countp").val(" ");
         }
         if(parseInt($(".countp").val())>parseInt(maxNum)){
             $(".countp").val(maxNum);
         }
         if(parseInt($(".countp").val())<1){
             $(".countp").val(1);
         }
         num=parseInt($(".countp").val());
         if($(".dz_inp").is(":checked")){
         	if(parseInt(num)<product.customNum){
	             $(".dz_inp").prop("checked",false)
	         }
         }
         if(product.ifCustom==1){
            $(".dz_div").show();
         }else{
             $(".dz_div").hide();
         }

     }
     function choseColor(obj){
         color=obj.attr("choseColor");
         $(".chose_color").css({"color":"#333","background-color":"#eee"})
         obj.css({"color":"#fff","background-color":"#ff9800"});

     }
    function openCart(){
        location.href="cart.html";
    }
    /*$(function(){
        bool=false;
        setTimeout(function(){
            bool=true;
        },1500);
        window.addEventListener("popstate", function(e) {
            if(bool==true){
                location.href="index.html";
                bool=false;
            }
        }, false);
    });*/

</script>
</html>