<div style="width: 6.4rem;height:5.3rem;position: absolute;bottom: 0px;background-color: #fff;">
    <div style="width: 6rem;margin: 0 auto!important;">
        <div style="border-bottom: 1px solid #eee;width: 100%;height: 1.4rem;">
            <div style="width: 1rem;height: 1rem;float: left;margin-top: 0.2rem!important;background-color: #eee;">
                <img src="{{product.imgUrl}}" style="width: 1rem;height: 1rem;"/>
            </div>
            <div style="width:4.8rem;height: 1.4rem;float: right;">
                <p style="margin-top: 0.5rem!important;height:0.4rem;line-height: 0.35rem; ">{{product.pname}}</p>
                <p style="color:#ff9800;height: 0.4rem;line-height: 0.35rem;">￥{{product.price}}</p>
            </div>
        </div>
        <div style="border-bottom: 1px solid #eee;width: 100%;height: 1.2rem">
            <p>颜色分类</p>
            <div style="width: 100%;height: 0.8rem;position: relative;" >
                <ion-content >
                    <div style="padding: 5px 12px;border-radius: 4px;background-color:#eee;margin-left:10px!important;color: #333;float: left;margin-top: 5px!important;" ng-repeat="item in colorArr" onclick="choseColor($(this))" choseColor="{{item}}" class="chose_color">{{item}}</div>
                 </ion-content >
            </div>
        </div>

        <div style="width: 100%;height: 1.2rem">
            <p>购买数量</p>
            <div style="width: 100%;height: 0.8rem;position: relative;" >
                <button class="button button-light jcount" style="display:inline;float: left;min-width: 30px;min-height: 10px;font-size: 30px;border: 1px solid #eee;line-height: 20px;" onclick="jFuc()">-</button>
                    <input type="tel" style="border: 1px solid #eee;width: 50px;text-align: center;float: left;margin-left: 10px;height: 40px;" ng-value="num" class="countp"  oninput="getNum()"/>
                <button class="button button-light addcount" style="display:inline;float: left;min-width: 30px;min-height: 10px;font-size: 30px;border: 1px solid #eee;margin-left: 10px;line-height: 20px;" onclick="add()">+</button>
            </div>
        </div>
        <div style="width: 100%;height: 0.6rem;" >
            <p class="dz_div">是否定制&nbsp;&nbsp;<input class="dz_inp" type="checkbox" style="position: relative;top: 2px;" ng-click="ifcus($event)"/></p>
        </div>
        <div>
            <button class="button button-energized" style="width: 100%;" ng-click="createContact()">加入购物车</button>
        </div>

    </div>


</div>
<script>


</script>