<style>
    .item-checkbox .checkbox{
        top:35%;
    }
</style>
<ion-pane ng-controller="cartCtrl4">

    <ion-content style="background-color: #eee;top: 44px;bottom:0px;"  class="contentH">

        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

        <ion-list >
            <div class="card list" style="padding:0.2rem;margin-bottom: 10px!important;" ng-repeat="item in dataList">
                <div ng-click="seedetail(item.orderNum)">
                    <p style="height:30px;line-height: 30px;"><span style="float: left;">订单号：{{item.orderNum}}</span><span style="float: right;color: #ff9800;">等待发货</span></p>
                    <div style="width:100%;height: 2rem;margin-bottom: 10px!important;" ng-repeat="Childitem in item.model">
                        <div style="width: 2rem;height: 2rem;float: left;margin-left: 0.2rem;background-color: #eee;">
                            <img src="{{Childitem.img}}" style="width: 100%;height: 100%;">
                        </div>
                        <div style="float: left;width: 2.5rem;height: 2rem;">
                            <p style="padding: 5px;">{{Childitem.modelname}}<span ng-if="Childitem.modeldj!=Childitem.discount" style="text-decoration: line-through;color: #c9c9c9;">￥{{Childitem.modeldj}}</span></p>
                            <p style="padding: 5px;">颜色分类：{{Childitem.modelcolor}}</p>
                            <p style="padding: 5px;">定制费：{{Childitem.modeldzf}}</p>
                        </div>
                        <div style="float: left;width: 1.5rem;height: 2rem;">
                            <p style="text-align: right;padding: 5px;">￥{{Childitem.discount}}</p>
                            <p style="text-align: right;padding: 5px;">x{{Childitem.modelsl}}</p>
                        </div>
                    </div>
                </div>

                <div style="border-bottom: 1px solid #eee;">
                    <p style="text-align: right;">共{{item.productNum}}件产品 合计：￥{{item.allprice}}（含运费￥{{item.ecost}}）</p>
                </div>
                <div style="text-align: left;">
                    <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;"  ng-click="seeImgs(item.orderNum)">查看凭证</button>


                </div>

            </div>



        </ion-list>


        <ion-infinite-scroll
                ng-if="can_loadmore()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
        <div style="text-align: center;line-height: 30px;">{{dbwz}}</div>



    </ion-content>
</ion-pane>


<script>
    $(function(){

    });

</script>