<style>
    .item-checkbox .checkbox{
        top:35%;
    }
</style>
<div  ng-controller="cartCtrl">
<ion-pane>

    <ion-content style="background-color: #eee;top: 44px;bottom: 64px;"  class="contentH">
        <div style="text-align: center;line-height: 40px;">{{getNull}}</div>


        <ion-list >
            <div class="card list" ng-repeat=" item in cartP">
                    <div>
                        <div class="item" style="border-bottom: 1px solid #eee;padding: 0.1rem;">
                            <div style="width: 0.5rem;height: 2rem;float: left;">
                                <input type="checkbox" style="position: relative;top: 0.8rem;left: 0.1rem;" class="checkOne" pnum="{{item.count}}" pprice="{{item.discount}}" dzf="{{item.customCost}}" onclick="jsoneFuc($(this))" asid="{{item.asid}}"/>
                            </div>
                            <div style="width: 2rem;height: 2rem;background-color: #eee;float: left;">
                                <img src="{{item.img}}" style="width: 100%;height: 100%;">
                            </div>
                            <div style="float: left;width: 3.6rem;overflow: hidden;height: 2rem;" class="seeInfo">
                                <div style="position: relative;top: 0.25rem;width: 3rem;float: left;overflow: hidden;">
                                    <p style="line-height: 0.4rem;padding-left: 0.2rem;">{{item.pname}}</p>
                                    <p style="line-height: 0.4rem;padding-left: 0.2rem;">颜色分类：{{item.color}}</p>
                                    <p style="line-height: 0.4rem;padding-left: 0.2rem;">定制费：{{item.customCost}}</p>
                                    <p style="line-height: 0.4rem;padding-left: 0.2rem; color:#ff9800;" ng-if="item.price == item.discount"><span style="">￥{{item.discount}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #333;">X{{item.count}}</span></p>
                                    <p style="line-height: 0.4rem;padding-left: 0.2rem; color:#ff9800;" ng-if="item.price != item.discount"><span style="text-decoration: line-through;color: #c9c9c9;">￥{{item.price}}</span>&nbsp;&nbsp;&nbsp;<span style="">￥{{item.discount}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #333;">X{{item.count}}</span></p>
                                </div>
                                <div style="position: relative;top: 0.5rem;width: 0.6rem;float: left;">
                                    <i class="icon ion-compose" style="font-size: 0.4rem;" onclick="editorFuc($(this))" count="{{item.count}}"></i>
                                    <span style="color: red;position: absolute;top:1rem;left: 0px;" ng-click="delcart(item.asid,item.pname)">删除</span>
                                </div>
                            </div>
                            <div style="float: left;width: 3.6rem;overflow: hidden;height: 2rem;display:none;" class="eidtorInfo">
                                <div style="position: relative;top: 0.5rem;width: 3rem;float: left;overflow: hidden;height: 2rem;">
                                                        <div style="position: relative;left: 8px;">
                                                            <div style="width: 30px;height: 30px;border: 1px solid #eee;text-align: center;line-height: 25px;float: left;"  onclick="subtraction($(this))" dzf="{{item.customCost}}">-</div>
                                                            <input type="number" style="border: 1px solid #eee;width: 50px;height:30px;float: left;margin-left: 3px;margin-right: 3px;text-align: center;" ng-value="item.count" class="count_input" maxNum="{{item.maxNum}}" onchange="countChange($(this))" oninput="countChange($(this))" />
                                                            <div style="width: 30px;height: 30px;border: 1px solid #eee;text-align: center;line-height: 25px;float: left;margin-left: 3px;"  onclick="add($(this))">+</div>
                                                        </div>

                                </div>
                                <div style="position: relative;width: 0.6rem;float: left;overflow: hidden;height: 2rem;">
                                        <div style="width: 100%;height: 100%;background-color: #ffc900;color: #fff;font-size: 12px;border-radius: 2px;" onclick="wcFuc($(this))" ng-click="complete(item.asid)" >
                                            <span style="position: relative;top: 0.6rem;left: 0.2rem;">完<br/>成</span>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </ion-list>

    </ion-content>
</ion-pane>

<div class="bar bar-footer bar-light" style="height: 64px;">
    <div style="width: 2.5rem;height:64px;float: left;">
        <input type="checkbox" style="position: relative;top: 20px;left:0.2rem;display: inline;float: left;" class="check_all"/>
        <span style="position: relative;top: 18px;left: 0.5rem;">全选</span>
    </div>
    <div style="width: 2rem;position: relative;top: 19px;text-align: center;">
        <p>合计 <span style="color: #ff9800;" class="jsallPrice">￥0</span></p>
    </div>
    <div style="width: 1.8rem;height: 64px;float: right;">
        <button class="button button-energized" style="width: 1.8rem; position: relative;top: 8px;" ng-click="order()" onclick="order()">结算</button>
    </div>
</div>

</div>

<script>
    var checkedFlag=1;
    $(function(){
            $(".check_all").click(function(){
                    if($(".check_all").prop("checked")){
                        allPrice=0;
                        $(".checkOne").prop("checked",true);
                        $(".checkOne").each(function(index,el){
                            allPrice=allPrice+((Number($(el).attr("pnum"))*Number($(el).attr("pprice")))+Number($(el).attr("dzf")));

                        });

                    }else{
                        $(".checkOne").prop("checked",false);
                        allPrice=0;
                    }
                    $(".jsallPrice").html("￥"+allPrice.toFixed(2));
            });


    });

    function jsoneFuc(obj){
        var checkNum=0;
        $(".checkOne").each(function(index,el){
            if($(el).prop("checked")){
                checkNum++;
            }else{

            }
        });
        if(checkNum==$(".checkOne").length){
            checkedFlag=1;
        }else{
            checkedFlag=0;
        }

        if(checkedFlag==0){
            $(".check_all").prop("checked",false);
        }else{
            $(".check_all").prop("checked",true);
        }
        if(obj.prop("checked")){
            allPrice=allPrice+((Number(obj.attr("pnum"))*Number(obj.attr("pprice")))+Number(obj.attr("dzf")));
        }else{
            allPrice=allPrice-((Number(obj.attr("pnum"))*Number(obj.attr("pprice")))+Number(obj.attr("dzf")));
        }
        $(".jsallPrice").html("￥"+allPrice.toFixed(2));
    }

    function editorFuc(obj){
        count=parseInt(obj.attr("count"));
        obj.parent().parent().hide();
        obj.parent().parent().next().show();
    }
    function wcFuc(obj){
        obj.parent().parent().hide();
        obj.parent().parent().prev().show();
    }
    //加
    function add(obj){

        if(parseInt(obj.prev().val())<parseInt(obj.prev().attr("maxNum"))){

            obj.prev().val(count+1);
        }
        count=parseInt(obj.prev().val());
    }
    //减
    function subtraction(obj){
        if(obj.attr("dzf")==0){
            if(parseInt(obj.next().val())>1){
                obj.next().val(count-1);
            }
            count=parseInt(obj.next().val());
        }else{
            if(parseInt(obj.next().val())>1){
                obj.next().val(count-1);
            }
            count=parseInt(obj.next().val());
        }

    }
    function countChange(obj){

        if(!/[\d]/g.test(obj.val())){
            obj.val("");
        }
        if(parseInt(obj.val())>parseInt(obj.attr("maxNum"))){
            obj.val(obj.attr("maxNum"));
        }
        if(parseInt(obj.val())<1){
            obj.val(1);
        }
        count=parseInt(obj.val());

    }
    function order(){
        cartPids="";
        $(".checkOne").each(function(index,el){
            if($(el).prop("checked")){
                cartPids=cartPids+$(el).attr("asid")+',';
            }
        })
    }

        $(function(){

        });

</script>