<div style="width: 6.4rem;height:300px;position: absolute;bottom: 0px;background-color: #fff;">
    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list >
                <div class="list">
                    <label class="item item-radio" ng-repeat="item in timeList"  >
                        <input type="radio" name="group" value="{{item.value}}" ng-change="fstimeChange(item.value)" ng-model="sendTime">
                        <div class="radio-content">
                            <div class="item-content">
                                {{item.value}}
                            </div>
                            <i class="radio-icon ion-checkmark"></i>
                        </div>
                    </label>



                </div>

            </ion-list>
        </ion-content>
    </ion-pane>

</div>