

<ion-pane>

    <ion-content style="background-color: #eee;top: 0px;bottom: 0px;"  class="contentH">
        <ion-list >
            <div class="card">
                <div class="item item-text-wrap">


                    <div style="width: 1.5rem;height: 1.5rem;text-align: center;float: left;margin-left: 0.32rem!important;margin-top: 0.1rem!important;position: relative;" ng-repeat="item in imgArr" ng-click="seeBigImg(item)">
                    <div style="width: 1.5rem;height: 1.5rem;border: 1px solid #666;text-align: center;float: left;position: relative;overflow: hidden;">
                    <img src="{{item}}" style="max-width: 100%;min-height:100%;" class="upimg"/>
                    </div>
                    </div>


                        <div style="clear: both;"></div>
                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-pane>
<script>



</script>