<div>

</div>
<div class="bar bar-header bar-light">
    <p class="title" style="text-align: left;font-weight: 400;font-size: 14px;padding-left: 0.2rem;">
        订单编号：{{orderNum}}
    </p>
</div>

<ion-pane>

    <ion-content style="background-color: #eee;top: 44px;bottom: 0px;"  class="contentH">
        <ion-list >
            <p class="right_title2 wltitle" style="margin-top:20px;padding-left:30px;line-height: 40px;"></p>
            <ul style="width:5rem;margin:0 auto;" class="wl">

            </ul>
        </ion-list>
    </ion-content>
</ion-pane>
<script>

$(function(){
    setTimeout(function(){
        if(seid==-1){
            var html='<li style="line-height: 30px;text-align:left;"><i class="icon ion-record"></i>&nbsp;&nbsp;自提</li>';
            $(".wl").append(html);
            return;
        }
        $.post(Url+"order_searchExpress.shtml",{"orderNum":orderNum,"seid":seid},function(data){
            console.log(data);
            var content=$.parseJSON(data.content);

            if(content.result==""){
                var html='<li><i class="icon ion-record"></i>&nbsp;&nbsp;'+content.msg+'</li>';
                $(".wl").append(html);
            }else{
                var list=content.result.list;
                for(var i=0;i<list.length;i++){
                    var html='<li><i class="icon ion-record"></i>&nbsp;&nbsp;'+list[i].status+'<br/>'+list[i].time+'</li>';
                    $(".wl").append(html);
                }
            }
            $(".wltitle").html(data.expressName+"："+data.expressNum);
        });
    },100);

})

</script>