<!--<div>

</div>-->
<!--<div class="bar bar-header bar-light">
    <p class="title" style="text-align: left;font-weight: 400;font-size: 14px;padding-left: 0.2rem;" sssa="{{orderNum}}">
        订单编号：{{orderNum}}
    </p>
</div>-->

<ion-pane>

    <ion-content style="background-color: #eee;top: 0px;bottom: 0px;"  class="contentH">
        <ion-list >
            <div class="card">
                <div class="item item-text-wrap">


                        <div style="width: 1.5rem;height: 1.5rem;border: 1px solid #666;text-align: center;float: left;margin-left: 0.32rem!important;margin-top: 0.1rem!important;position: relative;" class="upfileImg">
                            <div style="position: relative;top: 0.2rem;">
                                <i class="icon ion-ios-camera" style="font-size: 0.7rem;color: #666;"></i>
                                <p>添加图片</p>
                            </div>
                            <input type="file"  multiple="multiple"style="position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;opacity: 0;" accept="image/*" onchange="fileFuc($(this))" maxlength="5"/>
                        </div>


                        <div style="clear: both;"></div>
                </div>
            </div>
            <div class="card">
                <span style="float: left;" class="scgs"></span>
                <button class="button button-energized" style="font-size: 12px;min-width: 30px;min-height: 10px;padding: 0 8px;height: 30px;line-height: 20px;margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 20px;" onclick="scpzFuc()">上传凭证</button>
            </div>
        </ion-list>
    </ion-content>
</ion-pane>
<script>


    function fileFuc(obj){
        var i=0;
        var forFn=function(obj){
            if(i<obj.get(0).files.length){
                var imgurl=window.URL.createObjectURL(obj.get(0).files[i]);
                EXIF.getData(obj.get(0).files[i], function() {
                    /*EXIF.getAllTags(this);*/
                    var Orientation = EXIF.getTag(this, 'Orientation');
                    dealImage(imgurl, {
                        // 注意：在pc端可以用绝对路径或相对路径，移动端最好用绝对路径（因为用take photo后的图片路径，我没有试成功（如果有人试成功了可以分享一下经验））
                        width : 500,
                        direction:Orientation
                    }, function(base){
                        //直接将获取到的base64的字符串，放到一个image标签中就可看到测试后的压缩之后的样式图了
                        var html='<div style="width: 1.5rem;height: 1.5rem;text-align: center;float: left;margin-left: 0.32rem!important;margin-top: 0.1rem!important;position: relative;">' +
                            '<div style="width: 1.5rem;height: 1.5rem;border: 1px solid #666;text-align: center;float: left;position: relative;overflow: hidden;">' +
                            '<img src="'+base+'" style="width: 100%;" class="upimg"/>' +
                            '</div>' +
                            '<div style="position:absolute;top: -5px;right: -5px;width:20px;height: 20px;background-color: #666;border-radius: 20px;" onclick="removeImg($(this))"><i class="icon ion-ios-close-empty" style="color: #fff;font-size: 20px;"></i>' +
                            '</div>' +
                            '</div>';

                        $(".upfileImg").before(html);
                        //console.log("压缩后：" + base.length / 1024 + " " );
                        if(i<obj.get(0).files.length){
                            i++;
                            forFn(obj);
                        }
                    });
                });

            }

        };
        new forFn(obj);
    }

    function scpzFuc(){
        imgArr=[];
        var getimgArr=[];
        $(".upimg").each(function(index,el){
            imgArr.push($(el).attr("src"));
        });
        if(imgArr.length>5){
            toastr.error("最多上传五张图片");
            return;
        }
        var scgs=0;
        $(".scgs").html("已经上传"+scgs+"张");
        for(var i=0;i<imgArr.length;i++){
            $.post(url2+"order_uploadBase64.shtml",{"imgBase64":imgArr[i]},function(data){
                scgs++;
                $(".scgs").html("已经上传"+scgs+"张");
                getimgArr.push(data.imgStr);
                if(getimgArr.length==imgArr.length){
                    $.post(url+"agent_uploadOrderImg.shtml",{"soid":orderNum,"imgStr":getimgArr.join(",")},function (data2) {
                        if(data2.s==1){
                            window.history.back();
                        }
                    })
                }
            });
        }

    }


    function removeImg(obj){
        obj.parent().remove();
    }


    /**
     * 图片压缩，默认同比例压缩
     * @param {Object} path
     *   pc端传入的路径可以为相对路径，但是在移动端上必须传入的路径是照相图片储存的绝对路径
     * @param {Object} obj
     *   obj 对象 有 width， height， quality(0-1)
     * @param {Object} callback
     *   回调函数有一个参数，base64的字符串数据
     */
    function dealImage(path, obj, callback){
        var img = new Image();
        img.src = path;
        img.onload = function(){
            var that = this;
            // 默认按比例压缩
            var w = that.width,
                h = that.height,
                scale = w / h;
            w = obj.width || w;
            h = obj.height || (w / scale);
            var quality = 0.7;  // 默认图片质量为0.7
            //生成canvas
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            ctx.fillStyle = 'rgba(255, 255, 255, 0)';
            // 创建属性节点
            if(obj.direction==6||obj.direction==3){
                var anw = document.createAttribute("width");
                anw.nodeValue = h;
                var anh = document.createAttribute("height");
                anh.nodeValue = w;
                canvas.setAttributeNode(anw);
                canvas.setAttributeNode(anh);
                canvas.fillStyle = "red";
                ctx.rotate(90*Math.PI/180);
                ctx.drawImage(that, 0, -h, w, h);
            }else {
                var anw = document.createAttribute("width");
                anw.nodeValue = w;
                var anh = document.createAttribute("height");
                anh.nodeValue = h;
                canvas.setAttributeNode(anw);
                canvas.setAttributeNode(anh);
                ctx.rotate(0*Math.PI/180);
                ctx.drawImage(that, 0, 0, w, h);
            }

            // 图像质量
            if(obj.quality && obj.quality <= 1 && obj.quality > 0){
                quality = obj.quality;
            }
            // quality值越小，所绘制出的图像越模糊
            var base64 = canvas.toDataURL('image/jpeg', quality );
            // 回调函数返回base64的值
            callback(base64);
        }
    }

</script>