<div style="width: 6.4rem;height:300px;position: absolute;bottom: 0px;background-color: #fff;">
    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">

                <div class="list">
                    <div style="width: 100%;height: 50px;" ng-repeat="item in kjfpList" ng-click="fpChange(item.value,item.text)">
                        <label class="item item-radio">
                            <input type="radio" name="server-side group2" ng-value="item.value"  ng-model="fpvalue">
                            <div class="radio-content">
                                <div class="item-content" >
                                    {{item.text}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </div>
                        </label>
                    </div>



                </div>



        </ion-content>
    </ion-pane>

</div>
<div class="bar bar-footer bar-light">
    <button class="button button-energized" style="width: 100%;position: relative;top: -10px;" ng-click="closekjfp()">关闭</button>
</div>
