<div style="width: 6.4rem;position: absolute;bottom: 0px;top:0px;background-color: #fff;">
    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list >
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">开户名称：</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">纳税人识别号：</span>
                        <input type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">电话：</span>
                        <input type="text">
                    </label>

                    <label class="item item-input">
                        <span class="input-label">地址：</span>
                        <textarea placeholder="请输入详细地址" style="height: 100px;"></textarea>
                    </label>
                </div>

            </ion-list>
        </ion-content>
    </ion-pane>

</div>

<div class="bar bar-footer bar-light">
    <button class="button button-energized" style="width: 100%;position: relative;top: -10px;" ng-click="saveMx()">保存</button>
</div>