<div style="width: 6.4rem;height:300px;position: absolute;bottom: 0px;background-color: #fff;">
    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list >
                <div class="list">
                    <div style="width: 100%;height: 50px;" ng-click="psfsFuc(item.seid,item.name,item.cost)" ng-repeat="item in eList">
                        <label class="item item-radio">
                            <input type="radio" name="group2"   ng-model="seid" />
                            <div class="radio-content">
                                <div class="item-content">
                                    {{item.name}}￥{{item.cost}}
                                </div>
                                <i class="radio-icon ion-checkmark"></i>
                            </div>
                        </label>
                    </div>




                </div>

            </ion-list>
        </ion-content>
    </ion-pane>

</div>
<div class="bar bar-footer bar-light">
    <button class="button button-energized" style="width: 100%;position: relative;top: -10px;" ng-click="closeMeth()">关闭</button>
</div>