body,p,div{padding: 0px;margin: 0px!important;color:#333;}

/*.product-wall:nth-child(even){float: left;width:48%;height: 3.8rem;border-radius: 10px;background-color: #fff;margin-left: 1%!important;margin-top: 1%!important;margin-bottom: 1%!important;overflow: hidden;}
.product-wall:nth-child(odd){float: right;width:48%;height: 3.8rem;border-radius: 10px;background-color: #fff;margin-right: 1%!important;margin-bottom: 1%!important;margin-top: 1%!important;overflow: hidden;}*/
.modal-backdrop{background-color:rgba(0,0,0,0.5);}
.product-wall:active{opacity: 0.5}
.dzyx_menu span{display: block;width: 1.28rem;float: left;text-align: center;height: 43px;}
.cart_active{color:#ff9800;border-bottom: 2px solid #ff9800;}