<div  ng-controller="addNewAddressCtrl">

    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list  style="height: 100%;">
                <div class="list">
                    <label class="item ">
                        <span class="input-label" style="float: left;">地址类型：</span>
                        <!-- <div>
                             <input type="checkbox"/>寄给代理商
                             <input type="checkbox"/>寄给学校
                         </div>-->

                        <label style="float: left;position: relative;top:10px;" ng-repeat="item in addresstype">
                            <input type="checkbox"   ng-click="school(item)" ng-model="item.checked" ng-checked="initChecked(item.value)"/>{{item.name}}
                        </label>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">地址名称：</span>
                        <input type="text" ng-change="addressName(addressname)" value="{{addressname}}" ng-model="addressname"/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">收货人：</span>
                        <input type="text" ng-change="getPeople(getpeople)" value="{{getpeople}}" ng-model="getpeople"/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">联系电话：</span>
                        <input type="number" ng-change="getPhone(phone)" value="{{phone}}" ng-model="phone"/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">所在地区：</span>
                        <div style="width: 25%;float: left;overflow: hidden;height: 30px;border: 1px solid #eee;">
                            <select class="province" style="width: 120px;border: none;height: 30px;"></select>
                        </div>
                        <div style="width: 25%;float: left;overflow: hidden;height: 30px;border: 1px solid #eee">
                            <select class="city" style="width: 120px;border: none;height: 30px;"></select>
                        </div>
                        <div style="width: 25%;float: left;overflow: hidden;height: 30px;border: 1px solid #eee">
                            <select class="region" style="width:120px;border: none;height: 30px;"></select>
                        </div>

                    </label>
                    <label class="item item-input">
                        <textarea placeholder="请输入详细地址" style="height: 100px;" ng-change="ddetail(detail)" value="{{detail}}" ng-model="detail"></textarea>
                    </label>
                </div>
            </ion-list>


        </ion-content>
    </ion-pane>

    <div class="bar bar-footer bar-light" style="height: 64px;">
        <button class="button button-energized addNewAddress" style="width:100%; position: relative;top: 8px;" goUrl="doOrder.html#/addNewAddress" ng-click="saveAddress()">保存</button>
    </div>

</div>
<script>
    $(function(){

        for(var i=0;i<eare.province.length;i++){
            var html='<option value="'+eare.province[i].pid+'">'+eare.province[i].p_name+'</option>';
            $(".province").append(html);
        }
        for(var j=0;j<eare.city.length;j++){
            if($(".province").val()==eare.city[j].pid){
                var html2='<option value="'+eare.city[j].cid+'">'+eare.city[j].c_name+'</option>';
                $(".city").append(html2);
            }
        }
        for(var z=0;z<eare.region.length;z++){
            if($(".city").val()==eare.region[z].cid){
                var html3='<option value="'+eare.region[z].rid+'">'+eare.region[z].r_name+'</option>';
                $(".region").append(html3);
            }
        }
        region=$(".region").find("option:selected").text();
        city=$(".city").find("option:selected").text();
        province=$(".province").find("option:selected").text();
        $(".province").change(function(){
            $(".city").html("");
            $(".region").html("");
            for(var j=0;j<eare.city.length;j++){

                if($(".province").val()==eare.city[j].pid){
                    var html2='<option value="'+eare.city[j].cid+'">'+eare.city[j].c_name+'</option>';
                    $(".city").append(html2);
                }
            }
            for(var z=0;z<eare.region.length;z++){

                if($(".city").val()==eare.region[z].cid){
                    var html3='<option value="'+eare.region[z].rid+'">'+eare.region[z].r_name+'</option>';
                    $(".region").append(html3);
                }
            }
            region=$(".region").find("option:selected").text();
            city=$(".city").find("option:selected").text();
            province=$(".province").find("option:selected").text();
        });
        $(".city").change(function(){
            $(".region").html("");
            for(var z=0;z<eare.region.length;z++){

                if($(".city").val()==eare.region[z].cid){
                    var html3='<option value="'+eare.region[z].rid+'">'+eare.region[z].r_name+'</option>';
                    $(".region").append(html3);
                }
            }
            region=$(".region").find("option:selected").text();
            city=$(".city").find("option:selected").text();
            province=$(".province").find("option:selected").text();
        });
        $(".region").change(function(){
            region=$(".region").find("option:selected").text();
            city=$(".city").find("option:selected").text();
            province=$(".province").find("option:selected").text();
        });

    });
</script>