<div  ng-controller="choseAdressCtrl">

    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list  style="height: 100%;">
                <div class="card list" style="padding: 0.2rem;">
                    <p><span style="float: left;">全部地址（{{addressLength}}）</span><a href="#/editorNewAddress"><span style="float: right;color: #ff9800;" class="editorAddress" >管理</span></a></p>

                </div>
                <div class="card list" style="padding: 0.2rem;margin-bottom: 5px!important;" ng-repeat="item in addressList" ng-click="chosAddress(item.aeid,item.adressname)">
                    <p>
                        <span style="float: left;">{{item.recievename}}</span><span style="float: right;">{{item.phone}}</span>
                    <p style="clear: both;"></p>
                    </p>
                    <p>【{{item.adressname}}】{{item.province}}{{item.city}}{{item.region}}{{item.adressdetail}}</p>
                </div>
            </ion-list>


        </ion-content>
    </ion-pane>

    <div class="bar bar-footer bar-light" style="height: 64px;">
        <button class="button button-energized addNewAddress" style="width:100%; position: relative;top: 8px;" goUrl="doOrder.html#/addNewAddress">添加新地址</button>
    </div>

</div>
<script>
    $(function(){
        $(".addNewAddress").click(function(){
            location.href=$(this).attr("goUrl");
        });

    });
</script>