<div  ng-controller="editorchoseAdressCtrl">

    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list  style="height: 100%;">
                <div class="card list" style="padding: 0.2rem;">
                    <p><span style="float: left;">全部地址（{{addressLength}}）</span><span style="float: right;color: #ff9800;" class="editorAddress" ng-click="gobacks()">取消</span></p>

                </div>
                <a href="#/editorAddress/{{item.aeid}}" ng-repeat="item in addressList">
                <div class="card list" style="padding: 0.2rem;margin-bottom: 5px!important;">
                    <div style="width: 5.2rem;float: left;">
                        <p>
                            <span style="float: left;">{{item.recievename}}</span><span style="float: right;">{{item.phone}}</span>
                        <p style="clear: both;"></p>
                        </p>
                        <p>【{{item.adressname}}】{{item.province}}{{item.city}}{{item.region}}{{item.adressdetail}}</p>
                    </div>
                    <div style="width: 0.8rem;float: left;text-align: right;">
                        <i class="icon ion-chevron-right"></i>
                    </div>

                </div>
                </a>
            </ion-list>


        </ion-content>
    </ion-pane>

    <div class="bar bar-footer bar-light" style="height: 64px;">
        <a href="#/addNewAddress" style="width: 100%;"><button class="button button-energized addNewAddress" style="width:100%; position: relative;top: 8px;" goUrl="">添加新地址</button></a>
    </div>

</div>
<script>
    $(function(){


    });
</script>