<div  >

    <ion-pane>

        <ion-content style="background-color: #eee;top: 0px;bottom: 64px;"  class="contentH">
            <ion-list  style="height: 100%;" >
                <div class="card list goAddress" style="padding: 0.2rem;margin-bottom: 5px!important;" goUrl="#/choseAddress">
                    <p style="line-height: 30px;">
                        <span style="float: left;">收货人：{{getDress.recievename}}</span>
                        <span style="float: right;">{{getDress.phone}}</span>
                    <div style="clear: both;"></div>
                    </p>
                    <div>
                        <div style="width: 5.5rem;float: left;">
                            <p style="line-height: 20px;"><i class="icon ion-location" style="font-size: 20px;position: relative;top: 2px;"></i>&nbsp;&nbsp;&nbsp;收货地址：{{getDress.province}}{{getDress.city}}{{getDress.region}}{{getDress.adressdetail}}</p>
                        </div>
                        <div style="width: 0.5rem;float: left;">
                            <i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i>
                        </div>
                    </div>
					<div style="width: 6rem;padding: 0px;">
						<p style="color:red;padding: 0px;">{{dzinfalert}}<p>
					</div>
                </div>


                <div class="card list" style="padding:0.2rem;margin-bottom: 10px!important;">

                    <div style="width:100%;height: 2rem;margin-bottom: 10px!important;" ng-repeat="item in choseCartP">
                        <div style="width: 2rem;height: 2rem;float: left;margin-left: 0.2rem;background-color: #eee;">
                            <img src="{{item.img}}" style="width: 100%;height: 100%;">
                        </div>
                        <div style="float: left;width: 2.5rem;height: 2rem;">
                            <p style="padding: 5px;">{{item.pname}}&nbsp;&nbsp;&nbsp;<span style="text-decoration: line-through;color: #c9c9c9;" ng-if="item.price!=item.discount">￥{{item.price}}</span></p>
                            <p style="padding: 5px;">颜色分类：{{item.color}}</p>
                            <p style="padding: 5px;">定制费：{{item.customCost}}</p>
                        </div>
                        <div style="float: left;width: 1.5rem;height: 2rem;">
                            <p style="text-align: right;padding: 5px;"><span style="">￥{{item.discount}}</span></p>
                            <p style="text-align: right;padding: 5px;">x{{item.count}}</p>
                        </div>
                    </div>


                    <p style="display: none;line-height: 40px;border-top: 1px solid #eee;padding: 0px;min-height: 40px;" ng-click="fsFuc()">
                        <span style="float: left;">配送方式</span>
                        <span style="float: right;">{{seidName}}￥{{yfprice}}&nbsp;&nbsp;<i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i></span>
                    <p style="clear: both;"></p>
                    </p>
                    <p style="display: none;line-height: 40px;border-top: 1px solid #eee;padding: 0px;min-height: 40px;">
                        <span style="float: left;">发货时间</span>
                        <span style="float: right;">{{sendTime}}&nbsp;&nbsp;</span>
                    <p style="clear: both;"></p>
                    </p>
                    <p style="line-height: 40px;border-top: 1px solid #eee;padding: 0px;min-height: 40px;" ng-click="kjfp()">
                        <span style="float: left;">开具发票</span>
                        <span style="float: right;">{{fpType}}&nbsp;&nbsp;<i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i></span>
                    <p style="clear: both;"></p>
                    </p>
                    <p style="line-height: 40px;border-top: 1px solid #eee;padding: 0px;min-height: 40px;"ng-click="fpmx()" class="mxfp">
                        <span style="float: left;">发票明细</span>
                        <span style="float: right;">&nbsp;&nbsp;<i class="icon ion-chevron-right" style="position: relative;top: 2px;"></i></span>
                    <p style="clear: both;"></p>
                    </p>
                    <p style="line-height: 40px;border-top: 1px solid #eee;padding: 0px;text-align:right;color: red; " class="fpzwzh">
                        转账至致行公户
                    </p>
                    <p style="line-height: 40px;border-top: 1px solid #eee;padding: 0px;text-align:right; ">
                        共计{{pNum}}件商品,小计：<span style="color: #ff9800;">￥{{allPrice}}</span>
                    </p>



                </div>
            </ion-list>



        </ion-content>
    </ion-pane>

    <div class="bar bar-footer bar-light" style="height: 64px;">

        <div style="width: 4.5rem;position: relative;top: 19px;text-align: right;">
            <p style="display: none;">合计 <span style="color: #ff9800;" class="jsallPrice">￥{{allPrice2}}</span>&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div style="width: 1.8rem;height: 64px;float: right;">
            <button class="button button-energized" style="width: 1.8rem; position: relative;top: 8px;" ng-click="sure()">提交订单</button>
        </div>
    </div>

</div>
<script>
    $(function(){
        $(".goAddress").click(function(){
           location.href=$(this).attr("goUrl");
        });

        if(agentType==0){
            $(".mxfp").hide();
        }else{
            $(".mxfp").show();
        }

    })
</script>